<%- include("header", {tab: "home" , title: "Trang chủ" }); %>

    <div id="add-item-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        BLOG INFORMATION
                    </h5>

                    <button style="position: absolute;right: 10px;top: 10px; height: auto !important;" onclick="toggleModalAddProduct()" type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="form_upload_blog_update" enctype="multipart/form-data" method="post">

                        <input id="id_post" name="id_post" class="form-control" style="display: none;">
                        <div class="mt-2">
                            <b>Image title:</b>
                            <div>
                                <input autocomplete="off" type="file" name="avatar" id="inputSelectMoreImageUpdate" accept="image/*" onchange="onChangeImageUpdate()" multiple>
                            </div>
                        </div>
                        <div class="mt-2">
                            <img id="ImageTitleProduct" style="max-height: 200px;" />
                        </div>

                        <div class="mt-2">
                            <b>Title:</b>
                            <input id="EdtTitleProduct" name="title" class="form-control">
                        </div>

                        <div class="mt-2">
                            <b>Content:</b>
                            <textarea id="EdtContentProduct" class="form-control"></textarea>
                            <input id="EdtContentProductHiden" name="content" class="form-control" style="display: none;">
                        </div>

                        <div class="mt-2">
                            <b>Tags:</b>
                            <input id="EdtTags" name="tags" class="form-control">
                        </div>

                        <div class="form-group mt-2">
                            <b>Delete:</b>
                            <button type="button" onclick="deleteProduct()" class="btn btn-sm btn-danger ml-2">Delete</button>
                            <span class="ml-2">click to delete this blog</span>
                        </div>
                    </form>
                </div>

                <div class="mt-5 modal-footer border-top-0 d-flex justify-content-between">
                    <button onclick="updateBlog()" type="button" class="btn btn-warning float-left text-white">Update</button>
                    <button onclick="toggleModalAddProduct()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add-blog-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        ADD BLOG
                    </h5>

                    <button style="position: absolute;right: 10px;top: 10px; height: auto !important;" onclick="toggleModalAddBlog()" type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <form id="form_upload_blog" enctype="multipart/form-data" method="post">
                        <div class="mt-2">
                            <b>Image title:</b>
                            <div>
                                <input autocomplete="off" type="file" name="avatar" id="inputSelectMoreImage" accept="image/*" onchange="onChangeImage()" multiple>
                            </div>
                        </div>

                        <div class="mt-2">
                            <b>Title:</b>
                            <input id="blog_title" name="title" class="form-control">
                        </div>

                        <div class="mt-2">
                            <b>Content:</b>
                            <textarea id="editor"></textarea>
                            <input id="blog_content" name="content" class="form-control" style="display: none;">
                        </div>

                        <div class="mt-2">
                            <b>Tags:</b>
                            <input id="blog_tags" name="tags" placeholder="Split by: ' , ' " class="form-control">
                        </div>
                    </form>
                </div>
                <div class="mt-5 modal-footer border-top-0 d-flex justify-content-between">
                    <button type="button" onclick="submitBlog()" class="btn btn-success" style="float: left;">POST</button>

                    <button onclick="toggleModalAddBlog()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>


    <div class="intro-y flex flex-col sm:flex-row items-center">
        <h2 class="text-lg font-medium mr-auto">
            Posts jobs
        </h2>
    </div>

    <div class="intro-y box p-5 mt-5">
        <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
            <div id="tabulator-html-filter-form" class="xl:flex sm:mr-auto">
                <div class="sm:flex items-center sm:mr-4 mt-2 xl:mt-0">
                    <input id="edt_search" type="text" class="form-control sm:w-40 xxl:w-full mt-2 sm:mt-0" placeholder="Search...">
                </div>
                <div class="mt-2 xl:mt-0">
                    <button id="tabulator-html-filter-go" type="button" class="btn btn-primary w-full sm:w-16" onclick="searchProduct()">Go</button>
                </div>
                <div class="mt-2 xl:mt-0">
                    <button type="button" class="ml-5 btn btn-success w-full sm:w-16" onclick="toggleModalAddBlog()">+</button>
                </div>
            </div>

            <div class="flex mt-5 sm:mt-0" style="display: none;">
                <div class="w-full sm:w-auto flex items-center sm:ml-auto float-right">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-filter block mx-auto mr-2">
                        <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                    </svg>
                    <label for="show-example-1">Filter</label>
                    <input data-target="#basic-table" class="show-code form-check-switch mr-0 ml-3" type="checkbox" id="show-example-1" onchange="onShowFilter()">
                </div>
            </div>
        </div>

        <div id="basic-table" class="mt-5 clear-both" style="display: none;">

            <div class="source-code grid grid-cols-12 gap-6" style="display: none; opacity: 1;">
                <div class="col-span-12 xl:col-span-3 intro-y">
                    <b>Cost</b>
                    <div class="form-control">
                        <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_cost">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="1">Increase</option>
                            <option value="-1">Decrease</option>
                        </select>
                    </div>
                </div>

                <div class="col-span-12 xl:col-span-3 intro-y">
                    <b>Package</b>
                    <div class="form-control">
                        <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_package">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="Free">Free</option>
                            <option value="Silver">Silver</option>
                            <option value="Gold">Gold</option>
                        </select>
                    </div>
                </div>

                <div class="col-span-12 xl:col-span-3 intro-y">
                    <b>Status</b>
                    <div class="form-control">
                        <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_status">
                            <option disabled selected value> -- select an option -- </option>
                            <option value="0">Not Active</option>
                            <option value="1">Active</option>
                        </select>
                    </div>
                </div>

                <div class="col-span-12 xl:col-span-3 intro-y">
                    <b>Date range</b>
                    <div>
                        <input id="dtp_query" data-daterange="true" class="datepicker form-control block p-3">
                    </div>

                </div>
            </div>
        </div>

        <div class="intro-y box p-5 mt-12 sm:mt-5 clear-both" style="overflow-x: scroll;">
            <table id="TblProduct" class="w-full table" cellspacing="0">
                <thead class="tabulator-header">
                    <tr>
                        <th>Title</td>
                            <th>Content</td>
                                <th>Action</td>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

        <div id="SpnLoading" class="text-center">
            <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

                <svg width="25" viewBox="-2 -2 42 42" xmlns="http://www.w3.org/2000/svg" stroke="rgb(45, 55, 72)" class="w-8 h-8">
                    <g fill="none" fill-rule="evenodd">
                        <g transform="translate(1 1)" stroke-width="4">
                            <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                            <path d="M36 18c0-9.94-8.06-18-18-18">
                                <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                    dur="1s" repeatCount="indefinite"></animateTransform>
                            </path>
                        </g>
                    </g>
                </svg>

                <div class="text-center text-xs mt-2">Đang tải</div>
            </div>
        </div>
    </div>


    <div id="pagePatigation" class="float-right">
        <nav aria-label="Page navigation example">
        </nav>
    </div>
    <!-- END: Content -->

    </div>
    <!-- BEGIN: SCRIPT -->

    <script>
        var limit = 10;
        var offset = 0;
        var isShow = 3;
        var count = 0;
        var products = [];
        var index_edit;
        var numberPage = 0

        function onShowFilter() {
            if ($("#basic-table > div").hasClass("d-grid")) {
                $('#basic-table > div').removeClass('d-grid')
            } else {
                $('#basic-table > div').addClass('d-grid')
            }
        }

        function canvasTableProduct(data) {
            $('#TblProduct tbody').empty();
            $("#TblProduct tbody > tr").remove();
            let myTable = document.getElementById('TblProduct').getElementsByTagName('tbody')[0];
            let num = document.getElementById("TblProduct").rows.length;

            for (let i = 0; i < data.length; i++) {
                let row = myTable.insertRow();
                if (i % 2 != 0) {
                    row.style.backgroundColor = '#e2e8f0';

                }
                let cell1 = row.insertCell(0)
                let cell2 = row.insertCell(1)
                let cell3 = row.insertCell(2)

                cell1.innerHTML = '<div class="ellipsis">' + products[i].title + '</div>'
                cell2.innerHTML = '<div class="ellipsis">' + products[i].content + '</div>'
                cell3.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="actions" title="" style="text-align: right; display: inline-flex; align-items: center; justify-content: center;"> <div class="flex lg:justify-center items-center"> <a onclick="editProduct(' + i + ')" class="edit flex items-center mr-3" href="javascript:;"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> Edit </a> <a class="edit flex items-center mr-3" target="_blank" href="../blog/' + products[i].link_slug + '"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> View </a></div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div> ';
            }
        }

        function searchProduct() {
            $('#TblProduct tbody').empty();
            $("#SpnLoading").show();

            let minDate = $('#dtp_query').val().split('-')[0].replaceAllTxt(',', '').trim().split(' ')
            let maxDate = $('#dtp_query').val().split('-')[1].replaceAllTxt(',', '').trim().split(' ')

            minDate = minDate[2] + '-' + nameMonthToNumber(minDate[1]) + '-' + (minDate[0] < 10 ? '0' + minDate[0] : minDate[0]) + ' 00:00:00'
            maxDate = maxDate[2] + '-' + nameMonthToNumber(maxDate[1]) + '-' + (maxDate[0] < 10 ? '0' + maxDate[0] : maxDate[0]) + ' 23:59:59'

            socket.emit('post-blogs', {
                _id: getCookie('_id'),
                password: getCookie('password'),
                limit: limit,
                offset: offset,
                input: $('#edt_search').val(),
            }, (response) => {
                $("#SpnLoading").hide()

                console.log(response)
                products = response
                if (products != null) {
                    canvasTableProduct(products);
                } else {
                    $("#title").show();
                }
            });
            countProduct();
        }

        function countProduct() {

            let minDate = $('#dtp_query').val().split('-')[0].replaceAllTxt(',', '').trim().split(' ')
            let maxDate = $('#dtp_query').val().split('-')[1].replaceAllTxt(',', '').trim().split(' ')

            minDate = minDate[2] + '-' + nameMonthToNumber(minDate[1]) + '-' + (minDate[0] < 10 ? '0' + minDate[0] : minDate[0]) + ' 00:00:00'
            maxDate = maxDate[2] + '-' + nameMonthToNumber(maxDate[1]) + '-' + (maxDate[0] < 10 ? '0' + maxDate[0] : maxDate[0]) + ' 23:59:59'

            socket.emit('count-post-blogs', {
                _id: getCookie('_id'),
                password: getCookie('password'),
                limit: limit,
                offset: offset,
                input: $('#edt_search').val(),
                minDate: minDate,
                maxDate: maxDate
            }, (response) => {
                if (response != null) {
                    numberPage = response
                    paginator(numberPage)
                }
            });
        }


        function loadmoreProduct(page) {
            if (page == -1) {
                offset = parseInt(offset) - parseInt(limit);
                stt = offset + 1;
                isShow = isShow - 1;
            } else if (page == -2) {
                isShow = isShow + 1;
                offset = parseInt(offset) + parseInt(limit);
                stt = parseInt(offset) + 1;

            } else {
                isShow = page;
                offset = parseInt(limit) * parseInt(page);
                stt = offset + 1;
            }
            searchProduct()
            paginator(numberPage)
        }

        function toggleModalAddProduct() {
            $('#add-item-modal').css('display', 'block');
            $('#add-item-modal').css('margin-top', '0px');
            $('#add-item-modal').css('margin-left', '0px');
            $('#add-item-modal').css('z-index', '1000');
            if ($("#add-item-modal").hasClass("show")) {
                $('#add-item-modal').removeClass('show');
            } else {
                $('#add-item-modal').addClass('show');
                $('#add-item-modal').addClass('overflow-y-auto');
            }
        }

        function toggleModalAddBlog() {
            $('#add-blog-modal').css('display', 'block');
            $('#add-blog-modal').css('margin-top', '0px');
            $('#add-blog-modal').css('margin-left', '0px');
            $('#add-blog-modal').css('z-index', '1000');
            if ($("#add-blog-modal").hasClass("show")) {
                $('#add-blog-modal').removeClass('show');
            } else {
                $('#add-blog-modal').addClass('show');
                $('#add-blog-modal').addClass('overflow-y-auto');
            }
        }

        function deleteProduct() {
            toggleModalAddProduct();

            showLoading();
            socket.emit('delete-posts-blog', {
                _id: getCookie('_id'),
                password: getCookie('password'),
                id_product: products[index_edit]._id
            }, (response) => {
                hideLoading();
                if (response != null) {
                    products = removeIndexOfArray(products, index_edit);
                    canvasTableProduct(products);
                } else {
                    toggleModalAddProduct();
                }
            })
        }

        function editProduct(i) {
            index_edit = i
            $('#id_post').val(products[i]._id)
            $('#ImageTitleProduct').attr('src', '../public/images-blogs/' + products[i].image_title)
            $('#EdtTitleProduct').val(products[i].title)

            myEditorUpdate.data.set(products[i].content)

            let tags = ''
            for (let j = 0; isDefine(products[i].tag) && j < products[i].tag.length; j++) {
                if (j != products[i].tag.length - 1) {
                    tags += products[i].tag[j] + ', '
                } else {
                    tags += products[i].tag[j]
                }
            }
            $('#EdtTags').val(tags)

            toggleModalAddProduct()
        }

        $(document).ready(function() {
            const dateObj = new Date();
            const month = monthNames[dateObj.getMonth()];
            const day = String(dateObj.getDate()).padStart(2, '0');
            const year = dateObj.getFullYear();
            const output = month + '\n' + day + ',' + year;
            let strDate = 1 + ' ' + month.substring(0, 3) + ', ' + year + ' - ' + day + ' ' + month.substring(0, 3) + ', ' + year
            $('#dtp_query').val(strDate)

            var input = document.getElementById("edt_search");
            input.addEventListener("keyup", function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("tabulator-html-filter-go").click();
                }
            });

            $('#draw_6').addClass('side-menu--active')

            countProduct();
            loadmoreProduct(0);
        });
    </script>

    <link type="text/css" href="../views/admin/dist/ckeditor5-build-classic/sample/css/sample.css" rel="stylesheet" media="screen" />
    <script src="../views/admin/dist/ckeditor5-build-classic/ckeditor.js"></script>

    <script>
        var myEditor, myEditorUpdate

        ClassicEditor
            .create(document.querySelector('#editor'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
                // ckfinder: {
                //     uploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                // }

            })
            .then(editor => {
                myEditor = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });

        ClassicEditor
            .create(document.querySelector('#EdtContentProduct'), {
                // toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
                // ckfinder: {
                //     uploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files&responseType=json'
                // }

            })
            .then(editor => {
                myEditorUpdate = editor;
            })
            .catch(err => {
                console.error(err.stack);
            });
    </script>


    <script>
        function onChangeImage() {
            $('.imageuploadify-container').remove()
            checkFileBig()
        }

        function onChangeImageUpdate() {
            $('.imageuploadify-container').remove()
            checkFileBig()
        }

        function checkFileBig() {
            let files = $('#inputSelectMoreImage').prop('files')

            for (let x in files) {
                let filesize = ((files[x].size / 1024) / 1024).toFixed(4);
                if (filesize > 10) {
                    alert('Photo size too big, please reduce photo below 10mb')
                    $('.imageuploadify-container').remove()
                    return false
                }
            }

            return true
        }

        function isEmptyFile() {
            return $('#inputSelectMoreImage').prop('files').length == 0
        }

        function isMaxFile() {
            return $('#inputSelectMoreImage').prop('files').length > 1
        }

        function isMaxFileUpdate() {
            return $('#inputSelectMoreImageUpdate').prop('files').length > 1
        }


        function updateBlog() {

            if (isMaxFileUpdate()) {
                alert('Please choose only one image title')
                $('.imageuploadify-container').remove()
                return
            }

            if ($('#EdtTitleProduct').val().length <= 0) {
                alert('Title is not allow empty')
                return
            }

            if (myEditorUpdate.getData().length <= 0) {
                alert('Content is not allow empty')
                return
            }

            $('#EdtContentProductHiden').val(myEditorUpdate.getData())


            showLoading()
            toggleModalAddProduct()
            $('#form_upload_blog_update').unbind()

            $('#form_upload_blog_update').on('submit', (function(e) {
                e.preventDefault()
                var formData = new FormData(this)

                $.ajax({
                    type: 'PUT',
                    url: '/blog',
                    headers: {
                        token: 'infinifyltd'
                    },
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        location.reload()
                    },
                    error: function(data) {
                        alert('error')
                        toggleModalAddProduct()
                        hideLoading()
                    }
                })

            }))

            $('#form_upload_blog_update').submit()
        }


        function submitBlog() {
            if (isEmptyFile()) {
                alert('Please choose image title')
                return
            }

            if (isMaxFile()) {
                alert('Please choose only one image title')
                $('.imageuploadify-container').remove()
                return
            }

            let title = $('#blog_title').val()
            let tags = $('#blog_tags').val()
            let content = myEditor.getData()

            if (title.length <= 0) {
                alert('Title is not allow empty')
                return
            }

            if (content.length <= 0) {
                alert('Content is not allow empty')
                return
            }

            $('#blog_content').val(content)
            showLoading()
            toggleModalAddBlog()
            $('#form_upload_blog').unbind()

            $('#form_upload_blog').on('submit', (function(e) {
                e.preventDefault()
                var formData = new FormData(this)

                $.ajax({
                    type: 'POST',
                    url: '/blog',
                    headers: {
                        token: 'infinifyltd'
                    },
                    data: formData,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        location.reload()
                    },
                    error: function(data) {
                        alert('error')
                        toggleModalAddBlog()
                        hideLoading()
                    }
                })

            }))

            $('#form_upload_blog').submit()

        }
    </script>

    <link href="../views/client/dist/css/imageuploadify.min.css" rel="stylesheet">
    <script src="../views/client/dist/js/imageuploadify.min.js"></script>
    <script src="../views/client/dist/js/imageuploadify.js"></script>
    <!-- END: SCRIPT -->
    <%- include("footer"); %>