<!DOCTYPE html>
<html lang="en" class="light">
<!-- BEGIN: Head -->

<head>
    <meta charset="utf-8">
    <title>Infinity Technology</title>
    <link rel="shortcut icon" href="../views/admin/src/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Infinity Technology">
    <meta name="keywords" content="Infinity Technology">

    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../views/admin/dist/css/app.css" />
    <link rel="stylesheet" href="../views/admin/dist/css/style.css" />
    <link rel="stylesheet" href="../views/admin/dist/css/fontawesome-free-5.15.3/css/all.min.css" />
    <!-- Import PhotoSwipe Styles -->
    <link rel="stylesheet" href="../views/admin/dist/css/photo-swipe-4.1.0/photoswipe.css">
    <link rel="stylesheet" href="../views/admin/dist/css/photo-swipe-4.1.0/default-skin/default-skin.css">
    <!-- END: CSS Assets-->

    <!-- BEGIN: JS Assets-->
    <script src="../views/admin/dist/js/jquery.min.js"></script>
    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../views/admin/dist/js/helper.js"></script>
    <script src="../views/admin/dist/js/sha512.min.js"></script>

    <!-- END: JS Assets-->

    <script>
        $(document).ready(function () {
            $('#LblNameUser').text(getCookie('name'));
            $('#LblPointUser').text(getCookie('point'));
        });
    </script>

    <style>
        .zoom-img-wrap {
            z-index: 1000;
        }

        .tns-controls {
            display: none;
        }

        .d-grid{
            display: grid !important;
        }
    </style>

    <style>
        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        #lbl_link_slug:hover {
            text-decoration: underline !important;

        }

        .text-center {
            text-align: center;
        }

        #gallery {
            display: inline-block;
        }

        #container {
            text-align: center;
        }

        #ListIndustries>a {

            color: black;
            background-color: #f6f6f6;
            text-decoration: none;
            display: block;

        }

        #ListTypeProducts>a {

            color: black;
            background-color: #f6f6f6;
            text-decoration: none;
            display: block;

        }

        .disabledbutton {
            pointer-events: none;
            opacity: 0.2;
        }

        .selected {
            background: lavender;
        }

        .scroll-hozizontal::-webkit-scrollbar {
            width: 1px !important;
            background-color: #F5F5F5 !important;
            height: 5px !important;
        }

        .scroll-hozizontal::-webkit-scrollbar-thumb {
            background-color: #000000 !important;
            border: 2px solid #555555 !important;
        }

        .active-drop {
            position: relative;
            background-color: #e15915;
        }

        .active-drop::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 5px #e15915;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }

        #container_sort>a {
            display: inline-block !important;
            color: white !important;
            font-size: 12px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            /* background: #e15915 !important; */
            margin-top: 10px;
        }
    </style>

    <style>
        .text-danger {
            color: red !important;
        }

        a {
            cursor: pointer;
        }


        /* #TblProduct>tbody :hover {
            cursor: pointer;
            background-color: rgb(241, 255, 251);
        } */
    </style>

    <style>
        /* #TblListBill>tbody :hover {
        cursor: pointer;
        background-color: rgb(241, 255, 251);
    }

    #TblProduct>tbody :hover {
        cursor: pointer;
        background-color: rgb(241, 255, 251);
    } */

        .modal-lg {
            max-width: 80%;
        }

        .modal-dialog {
            width: 80%;
            /* height: 80%; */
        }

        .modal-content {
            height: auto;
            /* height: 80%; */
            border-radius: 0;
        }

        /* width */
        ::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: #f1f1f1;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: #888;
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #555;
        }

        .modal-confirm {
            color: #636363;
            width: 325px;
            margin: 30px auto;
        }

        .modal-confirm .modal-content {
            padding: 20px;
            border-radius: 5px;
            border: none;
        }

        .modal-confirm .modal-header {
            border-bottom: none;
            position: relative;
        }

        .modal-confirm h4 {
            text-align: center;
            font-size: 26px;
            margin: 30px 0 -15px;
        }

        .modal-confirm .form-control,
        .modal-confirm .btn {
            min-height: 40px;
            border-radius: 3px;
        }

        .modal-confirm .close {
            position: absolute;
            top: -5px;
            right: -5px;
        }

        .modal-confirm .modal-footer {
            border: none;
            text-align: center;
            border-radius: 5px;
            font-size: 13px;
        }

        .modal-confirm .icon-box {
            color: #fff;
            position: absolute;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: -70px;
            width: 95px;
            height: 95px;
            border-radius: 50%;
            z-index: 9;
            background: #82ce34;
            padding: 15px;
            text-align: center;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
        }

        .modal-confirm .icon-box i {
            font-size: 58px;
            position: relative;
            top: 3px;
        }

        .modal-confirm.modal-dialog {
            margin-top: 80px;
        }

        .modal-confirm .btn {
            color: #fff;
            border-radius: 4px;
            background: #82ce34;
            text-decoration: none;
            transition: all 0.4s;
            line-height: normal;
            border: none;
        }

        .modal-confirm .btn:hover,
        .modal-confirm .btn:focus {
            background: #6fb32b;
            outline: none;
        }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }


        #ContainerEdtName {
            position: absolute;
            /* background-color: #f6f6f6; */
            overflow: auto;
            /* border: 1px solid #ddd; */
            z-index: 1;
        }

        #ContainerEdtName a {
            color: black;
            background-color: #f6f6f6;
            text-decoration: none;
            display: block;
        }

        #ContainerEdtName>a:hover {
            background-color: #ddd;
        }
    </style>

    <style>
        /* tbody :hover {
        cursor: pointer;
        background-color: rgb(241, 255, 251);
    } */

        #ContainerImages {
            list-style-type: none;
            /* display:flex; */
            overflow: scroll;
            /* white-space: nowrap; */
            overflow-y: hidden !important;
        }

        #ContainerImages>li {
            display: inline;
        }

        .center-cropped {
            background-position: center center;
            background-repeat: no-repeat;
        }

        #ContainerCategory {
            position: absolute;
            /* background-color: #f6f6f6; */
            overflow: auto;
            right: 0;
            /* border: 1px solid #ddd; */
            z-index: 1;
        }

        #ContainerCategory a {
            color: black;
            background-color: #f6f6f6;
            text-decoration: none;
            display: block;
        }

        #ContainerCategory>a:hover {
            background-color: rgb(138, 145, 151) !important;
        }
    </style>

    <style>
        .active-drop {
            position: relative;
            background-color: #e15915;
        }

        .active-drop::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 5px #e15915;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }

        button {
            height: 100% !important;
        }

        .pd-wrap {
            padding: 40px 0;
            font-family: 'Poppins', sans-serif;
        }

        .heading-section {
            text-align: center;
            margin-bottom: 20px;
        }

        .sub-heading {
            font-family: 'Poppins', sans-serif;
            font-size: 12px;
            display: block;
            font-weight: 600;
            color: #2e9ca1;
            text-transform: uppercase;
            letter-spacing: 2px;
        }

        .heading-section h2 {
            font-size: 32px;
            font-weight: 500;
            padding-top: 10px;
            padding-bottom: 15px;
            font-family: 'Poppins', sans-serif;
        }

        .user-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            position: relative;
            min-width: 80px;
            background-size: 100%;
        }

        .carousel-testimonial .item {
            padding: 30px 10px;
        }

        .quote {
            position: absolute;
            top: -23px;
            color: #2e9da1;
            font-size: 27px;
        }

        .name {
            margin-bottom: 0;
            line-height: 14px;
            font-size: 17px;
            font-weight: 500;
        }

        .position {
            color: #adadad;
            font-size: 14px;
        }

        .owl-nav button {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            outline: none;
            height: 25px;
        }

        .owl-nav button svg {
            width: 25px;
            height: 25px;
        }

        .owl-nav button.owl-prev {
            left: 25px;
        }

        .owl-nav button.owl-next {
            right: 25px;
        }

        .owl-nav button span {
            font-size: 45px;
        }

        .product-thumb .item img {
            height: 100px;
        }

        .product-name {
            font-size: 22px;
            font-weight: 500;
            line-height: 22px;
            margin-bottom: 4px;
        }

        .product-price-discount {
            font-size: 22px;
            font-weight: 400;
            padding: 10px 0;
            clear: both;
        }

        .product-price-discount span.line-through {
            text-decoration: line-through;
            margin-left: 10px;
            font-size: 14px;
            vertical-align: middle;
            color: #a5a5a5;
        }

        .display-flex {
            display: flex;
        }

        .align-center {
            align-items: center;
        }

        .product-info {
            width: 100%;
        }

        .reviews-counter {
            font-size: 13px;
        }

        .reviews-counter span {
            vertical-align: -2px;
        }

        .rate {
            float: left;
            padding: 0 10px 0 0;
        }

        .rate:not(:checked)>input {
            position: absolute;
            top: -9999px;
        }

        .rate:not(:checked)>label {
            float: right;
            width: 15px;
            overflow: hidden;
            white-space: nowrap;
            cursor: pointer;
            font-size: 21px;
            color: #ccc;
            margin-bottom: 0;
            line-height: 21px;
        }

        .rate:not(:checked)>label:before {
            content: '\2605';
        }

        .rate>input:checked~label {
            color: #ffc700;
        }

        .rate:not(:checked)>label:hover,
        .rate:not(:checked)>label:hover~label {
            color: #deb217;
        }

        .rate>input:checked+label:hover,
        .rate>input:checked+label:hover~label,
        .rate>input:checked~label:hover,
        .rate>input:checked~label:hover~label,
        .rate>label:hover~input:checked~label {
            color: #c59b08;
        }

        .product-dtl p {
            font-size: 14px;
            line-height: 24px;
            color: #7a7a7a;
        }

        .product-dtl .form-control {
            font-size: 15px;
        }

        .product-dtl label {
            line-height: 16px;
            font-size: 15px;
        }

        .form-control:focus {
            outline: none;
            box-shadow: none;
        }

        .product-count {
            margin-top: 15px;
        }

        .product-count .qtyminus,
        .product-count .qtyplus {
            width: 34px;
            height: 34px;
            background: #212529;
            text-align: center;
            font-size: 19px;
            line-height: 36px;
            color: #fff;
            cursor: pointer;
        }

        .product-count .qtyminus {
            border-radius: 3px 0 0 3px;
        }

        .product-count .qtyplus {
            border-radius: 0 3px 3px 0;
        }

        .product-count .qty {
            width: 60px;
            text-align: center;
        }

        .round-black-btn {
            border-radius: 4px;
            background: #212529;
            color: #fff;
            padding: 7px 45px;
            display: inline-block;
            margin-top: 20px;
            border: solid 2px #212529;
            transition: all 0.5s ease-in-out 0s;
        }

        .round-black-btn:hover,
        .round-black-btn:focus {
            background: transparent;
            color: #212529;
            text-decoration: none;
        }

        .product-info-tabs {
            margin-top: 25px;
        }

        .product-info-tabs .nav-tabs {
            border-bottom: 2px solid #d8d8d8;
        }

        .product-info-tabs .nav-tabs .nav-item {
            margin-bottom: 0;
        }

        .product-info-tabs .nav-tabs .nav-link {
            border: none;
            border-bottom: 2px solid transparent;
            color: #323232;
        }

        .product-info-tabs .nav-tabs .nav-item .nav-link:hover {
            border: none;
        }

        .product-info-tabs .nav-tabs .nav-item.show .nav-link,
        .product-info-tabs .nav-tabs .nav-link.active,
        .product-info-tabs .nav-tabs .nav-link.active:hover {
            border: none;
            border-bottom: 2px solid #d8d8d8;
            font-weight: bold;
        }

        .product-info-tabs .tab-content .tab-pane {
            padding: 30px 20px;
            font-size: 15px;
            line-height: 24px;
            color: #7a7a7a;
        }

        .review-form .form-group {
            clear: both;
        }

        .mb-20 {
            margin-bottom: 20px;
        }

        .review-form .rate {
            float: none;
            display: inline-block;
        }

        .review-heading {
            font-size: 24px;
            font-weight: 600;
            line-height: 24px;
            margin-bottom: 6px;
            text-transform: uppercase;
            color: #000;
        }

        .review-form .form-control {
            font-size: 14px;
        }

        .review-form input.form-control {
            height: 40px;
        }

        .review-form textarea.form-control {
            resize: none;
        }

        .review-form .round-black-btn {
            text-transform: uppercase;
            cursor: pointer;
        }
    </style>
</head>
<!-- END: Head -->

<body class="main">

    <div id="DialogLoading" class="text-center"
        style="height: 100%; width: 100%; position: fixed; z-index: 1000; display: none;">
        <div style="position: fixed; left: 0;right: 0;top: 0;bottom: 0;opacity: 0.5;background-color: rgb(61, 73, 73);">
        </div>
        <div style="color: white; position: absolute;width: 100%;top: 0;bottom: 0;right: 0;left: 0;margin: auto;height: 100px;"
            class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

            <svg width="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
                <defs>
                    <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                        <stop stop-color="rgb(45, 55, 72)" stop-opacity="0" offset="0%"></stop>
                        <stop stop-color="rgb(45, 55, 72)" stop-opacity=".631" offset="63.146%"></stop>
                        <stop stop-color="rgb(45, 55, 72)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g fill="none" fill-rule="evenodd">
                    <g transform="translate(1 1)">
                        <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="3">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                dur="0.9s" repeatCount="indefinite"></animateTransform>
                        </path>
                        <circle fill="rgb(45, 55, 72)" cx="36" cy="18" r="1">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                dur="0.9s" repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                </g>
            </svg>

            <div class="text-center text-xs mt-2">Đang tải dữ liệu</div>
        </div>
    </div>

    <!-- <div id="ModalSuccess" class="text-center"
        style="display: none; left: 0; top: 0; bottom: 0; right: 0; height: 50%; width: 50%; position: fixed;margin: auto; z-index: 1000;opacity: 0.8;background-color: rgb(61, 73, 73);">

        <div style="position: fixed; left: 0;right: 0;top: 0;bottom: 0;opacity: 0.1;background-color: rgb(61, 73, 73);">
        </div>
        <div style="color: white; position: absolute;width: 100%;top: 0;bottom: 0;right: 0;left: 0;margin: auto;height: 100px;"
            class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

            <div class="col-span-6 sm:col-span-3 lg:col-span-2 xl:col-span-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-box block mx-auto">
                    <path
                        d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z">
                    </path>
                    <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                    <line x1="12" y1="22.08" x2="12" y2="12"></line>
                </svg>
            </div>

            <div>
                <div>
                    <p class="text-center" style="color: white;">Tác vụ thành công!</p>
                </div>
                <div>
                    <button onclick="hideModalSuccess()" class="btn btn-success btn-block pr-4 pl-4 mt-2">Đồng
                        ý</button>
                </div>
            </div>
        </div>
    </div> -->

    <!-- BEGIN: Mobile Menu -->
    <div class="mobile-menu md:hidden">
        <div class="mobile-menu-bar">
            <a href="" class="flex mr-auto">
                <img class="w-10 h-10 p-2" src="../views/admin/src/images/icon.png" style="background: white;
                    border-radius: 50%;">
            </a>
            <a id="mobile-menu-toggler"> <i data-feather="bar-chart-2"
                    class="w-8 h-8 text-white transform -rotate-90"></i> </a>
        </div>
        <ul class="border-t border-theme-29 py-5 hidden">
            <li>
                <a href="../admin/home" class="menu menu--active">
                    <div class="menu__icon"> <i data-feather="home"></i> </div>
                    <div class="menu__title"> Dashboard</div>
                </a>
            </li>
            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="edit"></i> </div>
                    <div class="menu__title"> Posts requests <i data-feather="chevron-down" class="menu__sub-icon "></i>
                    </div>
                </a>
                <ul>
                    <li>
                        <a href="../admin/posts-jobs" class="menu menu--active">
                            <div class="menu__icon"> <i data-feather="briefcase"></i> </div>
                            <div class="menu__title"> Posts jobs </div>
                        </a>
                    </li>
                    <li>
                        <a href="../admin/posts-sell-salons" class="menu menu--active">
                            <div class="menu__icon"> <i data-feather="shopping-cart"></i> </div>
                            <div class="menu__title"> Posts sell salons </div>
                        </a>
                    </li>
                    <li>
                        <a href="../admin/posts-nail-supplies" class="menu menu--active">
                            <div class="menu__icon"> <i data-feather="shopping-bag"></i> </div>
                            <div class="menu__title"> Posts nail supplies </div>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="../admin/users" class="menu menu--active">
                    <div class="menu__icon"> <i data-feather="user"></i> </div>
                    <div class="menu__title"> Users</div>
                </a>
            </li>
            <li>
                <a href="../admin/history-payments" class="menu menu--active">
                    <div class="menu__icon"> <i data-feather="dollar-sign"></i> </div>
                    <div class="menu__title"> Payments</div>
                </a>
            </li>

            <li>
                <a href="javascript:;" class="menu">
                    <div class="menu__icon"> <i data-feather="settings"></i> </div>
                    <div class="menu__title"> Settings <i data-feather="chevron-down" class="menu__sub-icon "></i>
                    </div>
                </a>
                <ul>
                    <li>
                        <a href="../admin/options-posts" class="menu menu--active">
                            <div class="menu__icon"> <i data-feather="briefcase"></i> </div>
                            <div class="menu__title"> Options posts </div>
                        </a>
                    </li>
                    <li>
                        <a href="../admin/payments-stripe" class="menu menu--active">
                            <div class="menu__icon"> <i data-feather="shopping-cart"></i> </div>
                            <div class="menu__title"> Payments stripe </div>
                        </a>
                    </li>
                    <li>
                        <a href="../admin/wellcome-nail" class="menu menu--active">
                            <div class="menu__icon"> <i data-feather="skip-forward"></i> </div>
                            <div class="menu__title"> Wellcome nail </div>
                        </a>
                    </li>
                </ul>
            </li>
            
        </ul>
    </div>
    <!-- END: Mobile Menu -->
    <div class="flex">
        <!-- BEGIN: Side Menu -->
        <nav class="side-nav">
            <a href="../admin/home" class="intro-x flex items-center pl-5 pt-4">
                <img class="w-10 h-10 p-2" src="../views/admin/src/images/icon.png" style="background: white;
                    border-radius: 50%;">
                <span class="hidden xl:block text-white text-lg ml-3">Infinity Technology</span>
            </a>
            <div class="side-nav__devider my-6"></div>
            <ul>
                <li>
                    <a id="draw_1" href="../admin/home" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="home"></i> </div>
                        <div class="side-menu__title">
                            Dashboard
                        </div>
                    </a>
                </li>
                <li>
                    <a id="draw_2" href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="edit"></i> </div>
                        <div class="side-menu__title">
                            Posts requests
                            <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul id="draw_2_wrap">
                        <li>
                            <a id="draw_2_1" href="../admin/posts-jobs" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="briefcase"></i> </div>
                                <div class="side-menu__title"> Posts jobs </div>
                            </a>
                        </li>
                        <li>
                            <a id="draw_2_2" href="../admin/posts-sell-salons" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="shopping-cart"></i> </div>
                                <div class="side-menu__title"> Posts sell salons </div>
                            </a>
                        </li>
                        <li>
                            <a id="draw_2_3" href="../admin/posts-nail-supplies" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="shopping-bag"></i> </div>
                                <div class="side-menu__title"> Posts nail supplies </div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a id="draw_3" href="../admin/users" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="user"></i> </div>
                        <div class="side-menu__title">
                            Users
                        </div>
                    </a>
                </li>
                <li>
                    <a id="draw_4" href="../admin/history-payments" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="dollar-sign"></i> </div>
                        <div class="side-menu__title">
                            Payments
                        </div>
                    </a>
                </li>

                <li>
                    <a id="draw_5" href="javascript:;" class="side-menu">
                        <div class="side-menu__icon"> <i data-feather="settings"></i> </div>
                        <div class="side-menu__title">
                            Settings
                            <div class="side-menu__sub-icon "> <i data-feather="chevron-down"></i> </div>
                        </div>
                    </a>
                    <ul id="draw_5_wrap">
                        <li>
                            <a id="draw_5_1" href="../admin/options-posts" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="briefcase"></i> </div>
                                <div class="side-menu__title"> Options posts </div>
                            </a>
                        </li>
                        <li>
                            <a id="draw_5_2" href="../admin/payments-stripe" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="shopping-cart"></i> </div>
                                <div class="side-menu__title"> Payment stripe </div>
                            </a>
                        </li>
                        <li>
                            <a id="draw_5_3" href="../admin/wellcome-nail" class="side-menu">
                                <div class="side-menu__icon"> <i data-feather="skip-forward"></i> </div>
                                <div class="side-menu__title"> Wellcome nail </div>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- END: Side Menu -->

        <script>
            function toggleModalChangePassword() {
                $('#modal_change_password').css('display', 'block');
                $('#modal_change_password').css('margin-top', '0px');
                $('#modal_change_password').css('margin-left', '0px');
                $('#modal_change_password').css('z-index', '1000');
                if ($("#modal_change_password").hasClass("show")) {
                    $('#modal_change_password').removeClass('show');
                } else {
                    $('#modal_change_password').addClass('show');
                    $('#modal_change_password').addClass('overflow-y-auto');
                }
            }


            function confirmChangePassword() {

                if ($('#EdtOldPassword').val() == undefined || $('#EdtOldPassword').val().length == 0 || $('#EdtNewPassword').val() == undefined || $('#EdtNewPasswordAgain').val() == undefined || $('#EdtNewPassword').val().length == 0 || $('#EdtNewPasswordAgain').val().length == 0 || $('#EdtNewPassword').val() != $('#EdtNewPasswordAgain').val()) {
                    $('#LblError').text('Password invalid');
                } else {
                    showLoading();
                    toggleModalChangePassword();
                    socket.emit('change-password-admin', { _id: getCookie('_id'), password: getCookie('password'), old_password: sha512($('#EdtOldPassword').val()) , new_password: sha512($('#EdtNewPassword').val()) }, (response) => {
                        hideLoading();
                        if (response == null) {
                            $('#LblError').text('Old password invalid');
                            toggleModalChangePassword();
                        }
                    });
                }
            }
        </script>
        <div id="modal_change_password" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h2 class="font-medium text-base mr-auto">
                                Change password
                            </h2>
                        </div>
                        <div class="modal-body row">
                            <div class="col-12 col-md-8">
                                <div>
                                    <div class="row">
                                        <div class="form-group col-3">
                                            <label>Old password<span class="ml-1" style="color:red">*</span></label>
                                            <input id="EdtOldPassword" class="form-control">
                                        </div>

                                        <div class="form-group col-3">
                                            <label>New password<span class="ml-1 " style="color:red">*</span></label>
                                            <input id="EdtNewPassword" class="form-control">
                                        </div>
                                        <div class="form-group col-3">
                                            <label>Confirm new password<span class="ml-1 "
                                                    style="color:red">*</span></label>
                                            <input id="EdtNewPasswordAgain" class="form-control">
                                        </div>
                                        <div style="color: red;" id="LblError"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="modal-footer text-right">
                            <button type="button" data-dismiss="modal"
                                class="btn btn-outline-secondary w-24 mr-1">Cancel</button>
                            <button type="button" onclick="confirmChangePassword()" class="btn btn-primary w-24"
                                style="color: white; background-color: orange;">Change</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- BEGIN: Content -->
        <div class="content">
            <!-- BEGIN: Top Bar -->
            <div class="top-bar">
                <!-- BEGIN: Breadcrumb -->
                <div class="-intro-x breadcrumb mr-auto hidden sm:flex"> <a href="">Application</a> <i
                        data-feather="chevron-right" class="breadcrumb__icon"></i> <a id="lbl_role"
                        class="breadcrumb--active">Override</a> </div>
                <!-- END: Breadcrumb -->
                <!-- BEGIN: Account Menu -->
                <div class="intro-x dropdown w-8 h-8">
                    <div class="dropdown-toggle w-8 h-8 rounded-full overflow-hidden shadow-lg image-fit zoom-in"
                        role="button" aria-expanded="false">
                        <img src="../views/admin/dist/images/posts-jobs/admin.png">
                    </div>
                    <div class="dropdown-menu w-56">
                        <div class="dropdown-menu__content box bg-theme-26 dark:bg-dark-6 text-white">
                            <div class="p-2">
                                <!-- <a href="../"
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i data-feather="tv" class="w-4 h-4 mr-2"></i> Ap24h Mall </a> -->
                                <a onclick="toggleModalChangePassword()"
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i data-feather="user" class="w-4 h-4 mr-2"></i> Change password </a>
                                <!-- <a href="side-menu-light-dashboard-overview-5"
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i data-feather="help-circle" class="w-4 h-4 mr-2"></i> Giúp đỡ </a> -->
                            </div>
                            <div class="p-2 border-t border-theme-27 dark:border-dark-3">
                                <a style="cursor: pointer;" onclick="logout()"
                                    class="flex items-center block p-2 transition duration-300 ease-in-out hover:bg-theme-1 dark:hover:bg-dark-3 rounded-md">
                                    <i data-feather="toggle-right" class="w-4 h-4 mr-2"></i> Logout </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: Account Menu -->
            </div>

            <script>
                if(getCookie('permission') == 1){
                    $('#draw_1').hide()
                    $('#draw_4').hide()
                    $('#draw_5').hide()
                    $('#lbl_role').html('Manager')
                }else{
                    $('#lbl_role').html('Admin')
                }

            </script>