<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../views/client/dist/images/icon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Infinity ltd">
    <title>247 Nail Salons - Tim Tho Nail | Ban Tiem Nail | Mua Ban Nail Supply</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../views/client/dist/css/app.css" />
    <link rel="stylesheet" href="../views/client/dist/css/home.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- END: CSS Assets-->

    <script src="../views/client/dist/js/jquery.min.js"></script>
    <script src="./../../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../views/client/dist/js/helper.js"></script>

    <script src="../views/client/dist/js/sha512.min.js"></script>


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- <script src="https://checkout.stripe.com/checkout.js" defer></script> -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        #map_update {
            height: 100%;
        }

        .tab-wrapper {
            text-align: center;
            display: block;
            margin: aut;
            max-width: 500p;
        }

        .tabs {
            margin: 0;
            padding: 0;
            display: flex;
        }

        .form-check-switch:checked {
            background-color: #eb1b6c !important;
            border-color: #eb1b6c !important;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #eb1b6c !important;
            border-color: #eb1b6c !important;
        }

        .tab-link {
            margin: 0 1%;
            list-style: none;
            padding: 10px 40px;
            color: #aaa;
            cursor: pointer;
            font-weight: 700;
            transition: all ease 0.5s;
            border-bottom: solid 3px rgba(255, 255, 255, 0.0);
            letter-spacing: 1px;
        }

        .tab-link:hover {
            color: #999;
            border-color: #999;
        }

        .tab-link.active {
            color: #333;
            border-color: #333;
        }

        .tab-link:nth-of-type(1).active {
            color: #EE6534;
            border-color: #EE6534;
        }

        .tab-link:nth-of-type(2).active {
            color: #1790D2;
            border-color: #1790D2;
        }

        .tab-link:nth-of-type(3).active {
            color: #EEC63B;
            border-color: #EEC63B;
        }

        .content-wrapper {
            padding: 40px 80px;
        }

        .tab-content {
            display: none;
            text-align: center;
            color: #888;
            font-weight: 300;
            font-size: 15px;
            opacity: 0;
            transform: translateY(15px);
            animation: fadeIn 0.5s ease 1 forwards;
        }

        .tab-content.active {
            display: block;
        }


        .zoom-img-wrap {
            z-index: 1000;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px !important;
            cursor: pointer;
        }

        .custom-map-control-button:hover {
            background: #ebebeb;
        }

        .gm-control-active {
            height: 40px !important;
        }

        #container_sort {
            overflow-x: auto;
        }

        #container_sort>a {
            display: inline-block !important;
            color: white !important;
            font-size: 12px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            /* background: #e15915 !important; */
            margin-top: 10px;
            cursor: pointer;
        }

        .active-drop {
            position: relative;
            background-color: #e15915;
        }

        .active-drop::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 5px #e15915;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }

        .pagination {
            display: -ms-flexbox;
            display: flex;
            padding-left: 0;
            list-style: none;
            border-radius: 0.25rem;
        }

        .page-item:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .page-item.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }

        .pagination-lg .page-item:first-child .page-link {
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
        }

        .pagination-lg .page-item:last-child .page-link {
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
        }

        .pagination-sm .page-link {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
        }

        .pagination-sm .page-item:first-child .page-link {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        .pagination-sm .page-item:last-child .page-link {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }

        .page-link {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .page-link:hover {
            z-index: 2;
            color: #0056b3;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }

        .page-link:focus {
            z-index: 3;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .page-item:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .page-item.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }

        .pagination-lg .page-link {
            padding: 0.75rem 1.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
        }

        .pagination-lg .page-item:first-child .page-link {
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
        }

        .pagination-lg .page-item:last-child .page-link {
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
        }

        .pagination-sm .page-link {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
        }

        .pagination-sm .page-item:first-child .page-link {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        .pagination-sm .page-item:last-child .page-link {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }
    </style>

    <style>
        .contenter {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        @media (max-width:1200px) {
            .contenter {
                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: 3rem;
            }
        }

        @media (max-width:1600px) {
            #container_search {
                position: relative;
                padding-top: 6rem;
                padding-bottom: 4rem;
                margin-bottom: 3rem;
            }

            .header {
                height: auto !important;
            }
        }

        #container_filter_country>div:hover {
            background-color: #eb1b6c;
            cursor: pointer;
            color: white;
        }

        #container_filter_country>div {
            padding: 0.5rem;
        }

        #container_filter_country_update>div:hover {
            background-color: #eb1b6c;
            cursor: pointer;
            color: white;
        }

        #container_filter_country_update>div {
            padding: 0.5rem;
        }

        .dropdown-menu.show {
            z-index: 100;
        }
    </style>
</head>

<body class="main">

    <style>
        .select2-container {
            z-index: 10000;
        }
    </style>

    <div id="add-item-modal" class="modal" tabindex="-1" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">

                <button style="position: absolute;right: 0.7rem;top: 0.3rem;" onclick="toggleModalAddProduct()"
                    type="button" class="close no-border" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="no-border" style="font-size: 1.3rem;">&times;</span>
                </button>

                <form id="form_update_job" enctype="multipart/form-data" method="post">
                    <div class="p-5">
                        <div id="lbl_title_post_update" class="font-medium mt-3 text-center"
                            style="font-size: 1.3rem; color: #eb1b6c;">Change Post
                        </div>

                        <div class="font-medium mt-3" style="font-size: 1.3rem;">Upload Images</div>

                        <div>
                            <input autocomplete="off" type="file" name="avatar" id="inputSelectMoreImage_update"
                                onchange="onChangeImageUpdate()" accept="image/*" multiple>
                        </div>

                        <ul class="p-0" style="overflow: auto" id="ContainerImages">
                        </ul>

                        <div id="lbl_nam_salon_update" class="font-medium mt-3" style="font-size: 1.3rem;"></div>

                        <div class="relative text-gray-700 dark:text-gray-300 box mt-3"
                            style="box-shadow: 0px 4px 6px #bdbdbd;">
                            <input id="modal_post_job_edt_name_salon_update" name="name_salon" autocomplete="off"
                                maxlength="10000" type="text"
                                class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                placeholder="Name salon">
                        </div>

                        <div class="font-medium mt-3" style="font-size: 1.3rem;">Title</div>

                        <div class="relative text-gray-700 dark:text-gray-300 box mt-3"
                            style="box-shadow: 0px 4px 6px #bdbdbd;">
                            <input id="modal_post_job_edt_title_update" autocomplete="off" type="text" name="title"
                                maxlength="10000"
                                class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                placeholder="* Title">
                        </div>

                        <div class="font-medium mt-3" style="font-size: 1.3rem;">Content</div>

                        <textarea id="editor_update" autocomplete="off" type="text" maxlength="10000"
                            class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                            placeholder="Content"></textarea>

                        <div class="font-medium mt-3" style="font-size: 1.3rem;">Details</div>

                        <div class="grid grid-cols-12 gap-6 mt-3">
                            <div class="col-span-12 xl:col-span-6" style="box-shadow: 0px 4px 6px #bdbdbd;">
                                <div class="relative text-gray-700 dark:text-gray-300 box">
                                    <input id="modal_post_job_edt_phone_update" autocomplete="off" type="text"
                                        name="phone"
                                        class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                        placeholder="* Phone contact"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        onpaste="return false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#eb1b6c" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                        <path
                                            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
                                        </path>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-6" style="box-shadow: 0px 4px 6px #bdbdbd;">
                                <div class="relative text-gray-700 dark:text-gray-300 box">
                                    <input id="modal_post_job_edt_email_update" autocomplete="off" type="text"
                                        maxlength="200" name="email"
                                        class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                        placeholder="* Email contact">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#eb1b6c" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                        <path
                                            d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z">
                                        </path>
                                        <polyline points="22,6 12,13 2,6"></polyline>
                                    </svg>
                                </div>
                            </div>

                        </div>

                        <input name="code" id="edt_code_update" style="display: none;" />
                        <input name="content" id="edt_content_update" style="display: none;" />
                        <input name="location" id="edt_location_update" style="display: none;" />
                        <input name="id_post" id="edt_id_post_update" style="display: none;" />
                        <input name="city" id="edt_city_update" style="display: none;" />
                        <input name="state" id="edt_state_update" style="display: none;" />

                        <div class="grid grid-cols-12 gap-6 mt-3">
                            <div class="col-span-12 xl:col-span-6" style="box-shadow: 0px 4px 6px #bdbdbd;">
                                <div class="relative text-gray-700 dark:text-gray-300 box">
                                    <input id="modal_post_job_edt_salary_update" autocomplete="off" type="text"
                                        maxlength="10" name="cost" placeholder="salary / cost / price"
                                        class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border number"
                                        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                                        onpaste="return false">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#eb1b6c" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                        <line x1="12" y1="1" x2="12" y2="23"></line>
                                        <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                    </svg>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-6" style="box-shadow: 0px 4px 6px #bdbdbd;">
                                <div class="relative text-gray-700 dark:text-gray-300 box">
                                    <input id="modal_post_job_edt_filter_country_update" autocomplete="off" type="text"
                                        maxlength="10000"
                                        class="p-3 h-full form-control pl-5 w-full box pr-10 placeholder-theme-13 no-border"
                                        placeholder="City or Zipcode of your salon"
                                        oninput="onFilterCountryPostJobUpdate()">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                        fill="none" stroke="#eb1b6c" stroke-width="1.5" stroke-linecap="round"
                                        stroke-linejoin="round"
                                        class="feather feather-search w-4 h-4 absolute my-auto inset-y-0 mr-3 right-0">
                                        <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                        <circle cx="12" cy="10" r="3"></circle>
                                    </svg>

                                    <div id="container_filter_country_update"
                                        style="position: absolute;background: white;left: 0;right: 0;padding: 1rem;display: none;z-index: 100;">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="font-medium mt-3" style="font-size: 1.3rem;display: none;">Location on map</div>

                        <div class="mt-2" style="height: 20rem;display: none;">
                            <div id="map_update"></div>
                        </div>

                        <!-- <button type="button" onclick="deleteProduct()" class="btn text-white btn-danger mt-5"
                            aria-expanded="false"><span>Delete post</span></button> -->

                        <div> <a href="javascript:;" data-toggle="modal" class="btn text-white btn-danger mt-5"
                                data-target="#delete-modal-preview" class="btn btn-primary">Delete post</a> </div>

                        <div id="container_repost"> <a href="javascript:;" data-toggle="modal"
                                class="btn text-white btn-warning mt-5" data-target="#repost-modal"
                                class="btn btn-primary">Re-post</a> </div>
                        <!-- END: Modal Toggle -->


                        <button type="button" onclick="savePost()" style="background-color: #6bab44;"
                            class="btn text-white w-full mt-5" aria-expanded="false"><i
                                class="fas fa-cloud-upload-alt mr-2"></i><span>Save post</span></button>

                    </div>
                </form>
            </div>
        </div>
    </div>

    <div id="delete-modal-preview" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="max-width: 460px;">
                <div class="modal-body p-0">
                    <div class="p-5 text-center"> <i data-feather="x-circle"
                            class="w-16 h-16 text-theme-6 mx-auto mt-3"></i>
                        <div class="text-3xl mt-5">Are you sure?</div>
                        <div class="text-gray-600 mt-2">Are you sure you want to delete this Ad? <br>This process
                            cannot be undone.</div>
                    </div>
                    <div class="px-5 pb-8 text-center"> <button type="button" data-dismiss="modal"
                            class="btn btn-outline-secondary w-24 dark:border-dark-5 dark:text-gray-300 mr-1">Cancel</button>
                        <button type="button" onclick="deleteProduct()" class="btn btn-danger w-24"
                            data-dismiss="modal">Confirm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="repost-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content p-5">
                <div class="font-medium mt-3" style="font-size: 1.3rem;">Select option</div>

                <div id="content_options_repost" class="text-center p-3 font-medium">

                </div>

                <div class="grid grid-cols-12 gap-6 mt-3">
                    <div class="col-span-12 xl:col-span-4" style="box-shadow: 0px 4px 6px #bdbdbd;">
                        <div class="font-medium">Package</div>
                        <select id="select_package_repost_job" class="form-select p-3 no-border"
                            aria-label="Default select example">

                        </select>
                    </div>

                    <div class="col-span-12 xl:col-span-4" style="box-shadow: 0px 4px 6px #bdbdbd;">
                        <div class="font-medium">Price</div>
                        <select id="select_price_repost_job" class="form-select p-3 no-border"
                            aria-label="Default select example">
                        </select>
                    </div>

                    <div class="col-span-12 xl:col-span-4" style="box-shadow: 0px 4px 6px #bdbdbd;">
                        <div class="font-medium">Content</div>
                        <div class="p-3" id="content_repost_job"></div>
                    </div>

                </div>

                <button type="button" onclick="rePost()" style="background-color: #6bab44;"
                    class="btn text-white w-full mt-5" aria-expanded="false"><i
                        class="fas fa-cloud-upload-alt mr-2"></i><span>Re-post</span></button>
            </div>
        </div>
    </div>

    <div id="dialog-loading" class="text-center"
        style="height: 100%; width: 100%; position: fixed; z-index: 1000;display: none;">
        <div style="position: fixed; left: 0;right: 0;top: 0;bottom: 0;opacity: 0.5;background-color: rgb(61, 73, 73);">
        </div>
        <div style="color: white; position: absolute;width: 100%;top: 0;bottom: 0;right: 0;left: 0;margin: auto;height: 100px;"
            class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

            <svg width="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
                <defs>
                    <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                        <stop stop-color="rgb(45, 55, 72)" stop-opacity="0" offset="0%"></stop>
                        <stop stop-color="rgb(45, 55, 72)" stop-opacity=".631" offset="63.146%"></stop>
                        <stop stop-color="rgb(45, 55, 72)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g fill="#eb1b6c" fill-rule="evenodd">
                    <g transform="translate(1 1)">
                        <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="3">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                dur="0.9s" repeatCount="indefinite"></animateTransform>
                        </path>
                        <circle fill="rgb(45, 55, 72)" cx="36" cy="18" r="1">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                dur="0.9s" repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                </g>
            </svg>

            <div class="text-center text-xs mt-2">Loading</div>
        </div>
    </div>

    <div class="header">
        <div>
            <div>
                <div style="position: relative; height: 12rem;">
                    <div class="logo pt-5">
                        <a href="/">
                            <img src="../views/client/dist/images/logo.png" />
                        </a>

                    </div>

                    <div class="mt-10 menu-right">
                        <button id="btn_toggle_dialog" class="btn btn-rounded-success mr-5 text-white p-3"
                            style="background-color: #6bab44;">
                            <i class="far fa-user mr-2"></i>Post New Ad
                        </button>

                        <a style="position: absolute; cursor: pointer;" onclick="openNav()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-align-left block mx-auto">
                                <line x1="17" y1="10" x2="3" y2="10"></line>
                                <line x1="21" y1="6" x2="3" y2="6"></line>
                                <line x1="21" y1="14" x2="3" y2="14"></line>
                                <line x1="17" y1="18" x2="3" y2="18"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenter">
        <div class="box grid grid-cols-12" style="background-color: #f8fafb;">
            <div class="col-span-12 xl:col-span-3 p-5" style="border-right: 2px dotted antiquewhite;">

                <ul class="mt-4" style="list-style-type: none;">
                    <li class="mt-5">
                        <%- include("nav-post"); %>
                    </li>
                    <li class="mt-5">
                        <a href="account">
                            <i class="far fa-user fa-lg	mr-2"></i><span>My Account</span>
                        </a>
                    </li>
                    <li class="mt-5">
                        <a href="change-password">
                            <i class="far fa-key mr-2"></i><span>Change password</span>
                        </a>
                    </li>
                    <li class="mt-5" style="color: #eb1b6c;">
                        <a href="posts">
                            <i class="far fa-newspaper mr-2"></i><span>My posts</span>
                        </a>
                    </li>
                    <li class="mt-5" style="color: red; cursor: pointer;">
                        <a onclick="logout()">
                            <i class="fas fa-power-off fa-lg mr-2"></i><span>Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-span-12 xl:col-span-9 p-5">
                <p class="font-medium" style="font-size:1.5rem;">Posts</p>

                <!-- <div id="container_sort" class="scroll-hozizontal pb-1">
                   
                </div> -->

                <div class="tab-wrapper">
                    <ul class="tabs" id="container_sort">

                    </ul>
                </div>

                <div class="intro-y box p-5 mt-5">
                    <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
                        <div id="tabulator-html-filter-form" class="xl:flex sm:mr-auto">
                            <div class="sm:flex items-center sm:mr-4 mt-2 xl:mt-0">
                                <input id="edt_search" type="text" class="form-control sm:w-40 xxl:w-full mt-2 sm:mt-0"
                                    placeholder="Type here...">
                            </div>
                            <div class="mt-2 xl:mt-0">
                                <button id="tabulator-html-filter-go" style="background-color: #eb1b6c ;" type="button"
                                    class="btn btn-primary no-border pl-2 pr-2" onclick="searchProduct()"><i
                                        class="fas fa-search mr-2"></i>Search</button>
                            </div>
                        </div>

                        <div class="flex mt-5 sm:mt-0">
                            <div class="w-full sm:w-auto flex items-center sm:ml-auto float-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-filter block mx-auto mr-2">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg>
                                <label for="show-example-1">Filter</label>
                                <input data-target="#basic-table" class="show-code form-check-switch mr-0 ml-3"
                                    type="checkbox" id="show-example-1" onchange="onShowFilter()">
                            </div>
                        </div>
                    </div>

                    <div id="basic-table" class="mt-5 clear-both">

                        <div class="source-code grid grid-cols-12 gap-6" style="display: none; opacity: 1;">
                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Cost / Price</b>
                                <div class="form-control">
                                    <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_cost">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="1">Increase</option>
                                        <option value="-1">Decrease</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Package</b>
                                <div class="form-control">
                                    <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_package">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Free">Free</option>
                                        <option value="Silver">Silver</option>
                                        <option value="Gold">Gold</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Status</b>
                                <div class="form-control">
                                    <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_status">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="0">Not Active</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-3 intro-y" style="display: none;">
                                <b>Date range</b>
                                <div>
                                    <input id="dtp_query" data-daterange="true"
                                        class="datepicker form-control block p-3">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="intro-y box p-5 mt-12 sm:mt-5 clear-both" style="overflow-x: auto;overflow-y: hidden;">
                        <table id="TblProduct" class="w-full table" cellspacing="0" style="overflow-y: hidden;">
                            <thead class="tabulator-header font-medium">
                                <tr>
                                    <th>Name <br> <small>phone</small></td>
                                    <th>Location</td>
                                    <th>Title</td>
                                    <th>Cost (Week)</td>
                                    <th>Package</td>
                                    <th>Status</td>
                                    <th>Last updated</td>
                                    <th>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div id="SpnLoading" class="text-center intro-y">
                        <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

                            <svg width="25" viewBox="-2 -2 42 42" xmlns="http://www.w3.org/2000/svg"
                                stroke="rgb(45, 55, 72)" class="w-8 h-8">
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(1 1)" stroke-width="4">
                                        <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                        <path d="M36 18c0-9.94-8.06-18-18-18">
                                            <animateTransform attributeName="transform" type="rotate" from="0 18 18"
                                                to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                                        </path>
                                    </g>
                                </g>
                            </svg>

                            <div class="text-center text-xs mt-2">Loading...</div>
                        </div>
                    </div>
                </div>


                <div id="pagePatigation" class="float-right">
                    <nav aria-label="Page navigation example">
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <%- include("nav-menu"); %>
        <%- include("modal-post"); %>

            <script src="../views/client/dist/js/app.js"></script>
            <script src="../views/client/dist/js/home.js"></script>

            <script>
                function showDialog() {
                    $('#dialog-loading').show(200)
                }

                function hideDialog() {
                    $('#dialog-loading').hide(200)
                }

                function logout() {
                    deleteAllCookies()
                    window.location.replace('../')
                }

                function checkLogin() {
                    if (getCookie('_id') && getCookie('password')) {
                        socket.emit('recent-login-agency', { _id: getCookie('_id'), password: getCookie('password') }, (response) => {
                            if (!response) {
                                logout()
                            }
                        })
                    } else {
                        logout()
                    }
                }

                checkLogin()

                function deleteAllCookies() {
                    document.cookie.split(";").forEach(function (c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
                }

            </script>

            <link href="../views/client/dist/css/imageuploadify.min.css" rel="stylesheet">
            <script src="../views/client/dist/js/imageuploadify.min.js"></script>
            <script src="../views/client/dist/js/imageuploadify.js"></script>

            <script>
                $('input[name="avatar"]').imageuploadify();
                $("input").attr("autocomplete", "off");

            </script>

            <script>

                var limit = 10
                var offset = 0
                var isShow = 3
                var count = 0
                var products = []
                var index_edit
                var prefixLinkSlug
                var prefixUrlImage

                //const urlParams = new URLSearchParams(window.location.search);
                indexRow = tryParseInt(urlParams.get('row'));
                indexPage = tryParseInt(urlParams.get('page'));
                var isSort = urlParams.get('sort') || 1;

                function onShowFilter() {
                    if ($("#basic-table > div").hasClass("d-grid")) {
                        $('#basic-table > div').removeClass('d-grid')
                    } else {
                        $('#basic-table > div').addClass('d-grid')
                    }
                }

                function canvasTableProduct(data) {
                    $('#TblProduct tbody').empty();
                    $("#TblProduct tbody > tr").remove();
                    let myTable = document.getElementById('TblProduct').getElementsByTagName('tbody')[0];
                    let num = document.getElementById("TblProduct").rows.length;


                    if (isSort == 1) {
                        prefixLinkSlug = 'posts-jobs'
                        prefixUrlImage = urlImagePostJobs
                    } else if (isSort == 2) {
                        prefixLinkSlug = 'posts-sell-salons'
                        prefixUrlImage = urlImagePostSellsSalons
                    } else if (isSort == 3) {
                        prefixLinkSlug = 'posts-nail-supplies'
                        prefixUrlImage = urlImagePostNailSupplies
                    }
                    for (let i = 0; i < data.length; i++) {
                        let row = myTable.insertRow()
                        row.classList.add("intro-y");
                        if (i % 2 != 0) {
                            row.style.backgroundColor = '#e2e8f0';

                        }
                        let cell1 = row.insertCell(0);
                        let cell2 = row.insertCell(1);
                        let cell3 = row.insertCell(2);
                        let cell4 = row.insertCell(3);
                        let cell5 = row.insertCell(4);
                        let cell6 = row.insertCell(5);
                        let cell7 = row.insertCell(6);
                        let cell8 = row.insertCell(7);

                        if (data[i].status == 1) {
                            cell6.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="status" title="" style="text-align: center; display: inline-flex; align-items: center; justify-content: center;"><div class="flex items-center lg:justify-center text-theme-9"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> Active </div><div class="tabulator-col-resize-handle"></div><div class="tabulator-col-resize-handle prev"></div></div>';
                        } else {
                            cell6.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="status" title="" style="text-align: center; display: inline-flex; align-items: center; justify-content: center;"> <div class="flex items-center lg:justify-center text-theme-6"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> Expired <a href="javascript:;" onclick="toggleModalRePost(' + i + ')" data-toggle="modal" class="btn text-white btn-warning ml-3" data-target="#repost-modal" class="btn btn-primary">Repost</a> </div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div>';
                        }

                        cell1.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="name" title="" style=" display: inline-flex; "> <div> <div class="font-medium whitespace-nowrap">' + products[i].name_salon + '</div> <div class="text-gray-600 text-xs whitespace-nowrap">' + products[i].phone + '</div> </div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div>';
                        cell2.innerHTML = '<div class="ellipsis">' + escapeHtml(products[i].city) + '</div>';
                        cell3.innerHTML = '<div class="ellipsis">' + escapeHtml(products[i].title) + '</div>';
                        cell4.innerHTML = '<div class="ellipsis">' + escapeHtml(isNumber(products[i].cost) ? (escapeHtml(products[i].cost != 0 ? ('$' + formatMoney(products[i].cost)) : 'Contact owner')) : ((products[i].price != 0 ? ('$' + formatMoney(products[i].price)) : 'Contact owner'))) + '</div>';
                        cell5.innerHTML = '<div class="ellipsis">' + escapeHtml(products[i].package) + '</div>';

                        //let datetime = (new Date(products[i].updatedAt).getFullYear() + '-' + ('0' + (new Date(products[i].updatedAt).getMonth() + 1)).substring(('0' + (new Date(products[i].updatedAt).getMonth() + 1)).length-2 , ('0' + (new Date(products[i].updatedAt).getMonth() + 1)).length) + '-' + new Date(products[i].updatedAt).getDate())
                        let datetime = (('0' + (new Date(products[i].updatedAt).getMonth() + 1)).substring(('0' + (new Date(products[i].updatedAt).getMonth() + 1)).length - 2, ('0' + (new Date(products[i].updatedAt).getMonth() + 1)).length) + '/' + new Date(products[i].updatedAt).getDate() + '/' + new Date(products[i].updatedAt).getFullYear())

                        cell7.innerHTML = '<div class="ellipsis">' + datetime + '</div>';
                        cell8.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="actions" title="" style="text-align: right; display: inline-flex; align-items: center; justify-content: center;"> <div class="flex lg:justify-center items-center"> <a onclick="editProduct(' + i + ')" class="edit flex items-center mr-3" href="javascript:;"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> Edit </a> <a target="_blank" class="edit flex items-center mr-3" href="../' + prefixLinkSlug + '/' + escapeHtml(products[i].link_slug) + '"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> View </a> </div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div> ';

                    }
                }

                function searchProduct() {
                    $("#SpnLoading").show()
                    $('#TblProduct tbody > tr').css('opacity', '0.5')
                    let minDate = $('#dtp_query').val().split('-')[0].replaceAllTxt(',', '').trim().split(' ')
                    let maxDate = $('#dtp_query').val().split('-')[1].replaceAllTxt(',', '').trim().split(' ')

                    minDate = minDate[2] + '-' + nameMonthToNumber(minDate[1]) + '-' + (minDate[0] < 10 ? '0' + minDate[0] : minDate[0]) + ' 00:00:00'
                    maxDate = maxDate[2] + '-' + nameMonthToNumber(maxDate[1]) + '-' + (maxDate[0] < 10 ? '0' + maxDate[0] : maxDate[0]) + ' 23:59:59'

                    socket.emit('post-agency', { _id: getCookie('_id'), password: getCookie('password'), limit: limit, offset: offset, input: $('#edt_search').val(), minDate: minDate, maxDate: maxDate, cost: $('#select_filter_cost').val(), package: $('#select_filter_package').val(), status: $('#select_filter_status').val(), type: isSort - 1 }, (response) => {

                        $('#TblProduct tbody').empty();
                        $("#SpnLoading").hide();
                        products = response
                        if (products != null) {
                            canvasTableProduct(products);
                        } else {
                            $("#title").show();
                        }
                    });
                    countProduct();
                }

                function countProduct() {

                    let minDate = $('#dtp_query').val().split('-')[0].replaceAllTxt(',', '').trim().split(' ')
                    let maxDate = $('#dtp_query').val().split('-')[1].replaceAllTxt(',', '').trim().split(' ')

                    minDate = minDate[2] + '-' + nameMonthToNumber(minDate[1]) + '-' + (minDate[0] < 10 ? '0' + minDate[0] : minDate[0]) + ' 00:00:00'
                    maxDate = maxDate[2] + '-' + nameMonthToNumber(maxDate[1]) + '-' + (maxDate[0] < 10 ? '0' + maxDate[0] : maxDate[0]) + ' 23:59:59'

                    socket.emit('count-post-agency', { _id: getCookie('_id'), password: getCookie('password'), limit: limit, offset: offset, input: $('#edt_search').val(), minDate: minDate, maxDate: maxDate }, (response) => {
                        if (response != null) {
                            $('#container_sort').html('<li class="tab-link ' + ((isSort != undefined && isSort == 1) ? 'active' : '') + '" data-tab="1" onclick="onSort_1()" id="sort_1" data-custom-value="/agency/posts?sort=1">Posts Jobs: ' + response[0] + '</li><li class="tab-link ' + ((isSort != undefined && isSort == 2) ? 'active' : '') + '" data-tab="2" onclick="onSort_2()" id="sort_2" data-custom-value="/agency/posts?sort=2">Posts Sell Salons: ' + response[1] + '</li><li class="tab-link ' + ((isSort != undefined && isSort == 3) ? 'active' : '') + '" data-tab="3" onclick="onSort_3()" id="sort_3" data-custom-value="/agency/posts?sort=3">Posts Nail Supplies: ' + response[2] + '</li>')

                            count = response[isSort - 1];
                            if ((count / limit) - parseInt(count / limit) > 0) {
                                count = parseInt(count / limit) + 1;
                            }
                            else {
                                count = count / limit;
                            }
                            paginator();
                        }
                    });
                }

                function canvasHeadTable(val) {
                    $('#TblProduct thead').empty()
                    $("#TblProduct thead > tr").remove()

                    let myTable = document.getElementById('TblProduct').getElementsByTagName('thead')[0];
                    let row = myTable.insertRow();
                    let cell1 = row.insertCell(0);
                    let cell2 = row.insertCell(1);
                    let cell3 = row.insertCell(2);
                    let cell4 = row.insertCell(3);
                    let cell5 = row.insertCell(4);
                    let cell6 = row.insertCell(5);
                    let cell7 = row.insertCell(6);
                    let cell8 = row.insertCell(7);

                    cell1.innerHTML = 'Name <br> <small>phone</small>';
                    cell2.innerHTML = 'Location';
                    cell3.innerHTML = 'Title';
                    cell4.innerHTML = val;
                    cell5.innerHTML = 'Package';
                    cell6.innerHTML = 'Status';
                    cell7.innerHTML = 'Last updated';
                    cell8.innerHTML = 'Action';
                }

                function onSort_1() {
                    canvasHeadTable('Cost /Week')
                    isSort = 1;
                    history.pushState({}, null, $('#sort_1').attr('data-custom-value'));
                    countProduct();
                    loadmoreProduct(0);
                }

                function onSort_2() {
                    canvasHeadTable('Price')

                    isSort = 2;
                    history.pushState({}, null, $('#sort_2').attr('data-custom-value'));
                    countProduct();
                    loadmoreProduct(0);
                }

                function onSort_3() {
                    canvasHeadTable('Price')
                    isSort = 3;
                    history.pushState({}, null, $('#sort_3').attr('data-custom-value'));
                    countProduct();
                    loadmoreProduct(0);
                }


                function loadmoreProduct(page) {
                    if (offset > limit * page) {
                        offset = parseInt(offset) - parseInt(limit);
                        stt = offset + 1;
                        isShow = isShow - 1;
                    } else if (offset < limit * page) {
                        isShow = isShow + 1;
                        offset = parseInt(offset) + parseInt(limit);
                        stt = offset + 1;
                    } else {
                        isShow = (limit * page);
                        offset = parseInt(limit) * (limit * page);
                        stt = parseInt(offset) + 1;
                    }

                    offset = limit * page;
                    searchProduct();
                    paginator();
                }

                function changeStatusProduct() {
                    toggleModalAddProduct();
                    if (products[index_edit].status == 1) {
                        products[index_edit].status = 0;
                    } else {
                        products[index_edit].status = 1;
                    }
                    showLoading();
                    socket.emit('update-posts-agency', { _id: getCookie('_id'), password: getCookie('password'), id_product: products[index_edit]._id, status: products[index_edit].status, type: isSort - 1 }, (response) => {
                        hideLoading();
                        if (response != null) {
                            canvasTableProduct(products);
                        } else {
                            toggleModalAddProduct();
                        }
                    })
                }

                function deleteProduct() {
                    toggleModalAddProduct();

                    showLoading();
                    socket.emit('delete-posts-agency', { _id: getCookie('_id'), password: getCookie('password'), id_product: products[index_edit]._id, type: isSort - 1 }, (response) => {
                        hideLoading();
                        if (response != null) {
                            products = removeIndexOfArray(products, index_edit);
                            canvasTableProduct(products);
                        } else {
                            toggleModalAddProduct();
                        }
                    })
                }

                function rePost() {
                    if (costPostJob && costPostJob > 0) {
                        checkoutPostJob(true, products[index_edit]._id, (isSort - 1), monthsProviderPostJob, packagePostJob, costPostJob, getCookie('_id'))
                    } else {
                        toggleModalRePost()
                        showLoading()
                        let actionUpdatePost
                        if ((isSort - 1) == 0) {
                            actionUpdatePost = '../job/re-post'
                        } else if ((isSort - 1) == 1) {
                            actionUpdatePost = '../sell-salon/re-post'
                        } else if ((isSort - 1) == 2) {
                            actionUpdatePost = '../nail-supplies/re-post'
                        }

                        let data = {
                            id_post: products[index_edit]._id,
                            cost: costPostJob,
                            package: packagePostJob,
                            id_agency: getCookie('_id'),
                            months_provider: monthsProviderPostJob
                        }
                        console.log(data)

                        fetch(actionUpdatePost, {
                            method: 'PUT',
                            headers: {
                                token: 'infinifyltd',
                                values: JSON.stringify(data),
                            }
                        }).then(function (res) {
                            if (res.status == 200) {
                                window.location.href = '../agency/posts?sort=' + (isSort)
                            } else {
                                alert('error')
                                hideLoading()
                                toggleModalRePost()
                            }
                        }).catch(function (data) {
                            alert(data.message)
                            hideLoading()
                            toggleModalRePost()
                        })

                        // $.ajax({
                        //     type: 'PUT',
                        //     url: actionUpdatePost,
                        //     headers: {
                        //         token: 'infinifyltd',
                        //         'Content-Type': 'application/x-www-form-urlencoded'
                        //     },
                        //     body: data,
                        //     cache: false,
                        //     contentType: false,
                        //     processData: false,
                        //     success: function (data) {
                        //         console.log(data)
                        //         //window.location.href = '../agency/posts?sort=' + (isSort)
                        //     },
                        //     error: function (data) {
                        //         alert(data)
                        //         hideLoading()
                        //         toggleModalRePost()
                        //     }
                        // })
                    }
                }

                $('#select_package_repost_job').on('change', function () {
                    let i = tryParseInt(this.value)
                    $('#content_options_repost').html(optionsPostJob[i].content)
                    packagePostJob = optionsPostJob[i].name
                    indexPostJob = i
                    $("#select_price_repost_job").empty()
                    for (let j = 0; j < optionsPostJob[i].options.length; j++) {
                        let p = new Option('$' + optionsPostJob[i].options[j].cost + ' / ' + optionsPostJob[i].options[j].month + ' month', j)
                        $(p).html('$' + optionsPostJob[i].options[j].cost + ' / ' + optionsPostJob[i].options[j].month + ' month')
                        $("#select_price_repost_job").append(p)
                    }
                    $("#content_repost_job").html(optionsPostJob[indexPostJob].options[0].content)
                    monthsProviderPostJob = optionsPostJob[indexPostJob].options[0].month
                    costPostJob = optionsPostJob[indexPostJob].options[0].cost
                })

                $('#select_price_repost_job').on('change', function () {
                    let i = tryParseInt(this.value)
                    $("#content_repost_job").html(optionsPostJob[indexPostJob].options[i].content)
                    monthsProviderPostJob = optionsPostJob[indexPostJob].options[i].month
                    costPostJob = optionsPostJob[indexPostJob].options[i].cost
                })

                $(document).ready(function () {
                    const dateObj = new Date();
                    const month = monthNames[dateObj.getMonth()];
                    const day = String(dateObj.getDate()).padStart(2, '0');
                    const year = dateObj.getFullYear();
                    const output = month + '\n' + day + ',' + year;
                    let strDate = 1 + ' ' + month.substring(0, 3) + ', ' + year + ' - ' + day + ' ' + month.substring(0, 3) + ', ' + year
                    $('#dtp_query').val(strDate)

                    var input = document.getElementById("edt_search");
                    input.addEventListener("keyup", function (event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            document.getElementById("tabulator-html-filter-go").click();
                        }
                    });

                    $('#draw_2').addClass('side-menu--active');
                    $('#draw_2').addClass('side-menu--open');
                    $('#draw_2_1').addClass('side-menu--active');
                    $('#draw_2_wrap').addClass('side-menu__sub-open')

                    countProduct();
                    loadmoreProduct(0);
                });

                function toggleModalAddProduct() {
                    $('#add-item-modal').css('display', 'block');
                    $('#add-item-modal').css('margin-top', '0px');
                    $('#add-item-modal').css('margin-left', '0px');
                    $('#add-item-modal').css('z-index', '1000');
                    if ($("#add-item-modal").hasClass("show")) {
                        $('#add-item-modal').removeClass('show');
                        $('body').removeClass('overflow-y-hidden');
                    } else {
                        $('#add-item-modal').addClass('show');
                        $('body').addClass('overflow-y-hidden');
                    }
                    $('.imageuploadify-container').remove()
                    document.getElementById("inputSelectMoreImage_update").value = "";
                }

                function editProduct(i) {
                    index_edit = i;
                    $('#modal_post_job_edt_name_salon_update').val(products[i].name_salon);
                    $('#modal_post_job_edt_phone_update').val(products[i].phone);
                    $('#modal_post_job_edt_email_update').val(products[i].email);
                    $('#modal_post_job_edt_title_update').val(products[i].title);
                    $('#modal_post_job_edt_salary_update').val(formatMoney(products[i].cost || products[i].price))
                    if ($('#modal_post_job_edt_salary_update').val() == 'undefined') {
                        $('#modal_post_job_edt_salary_update').val('')
                    }

                    if (products[i].status == 0) {
                        $('#btn_repost').show()
                    } else {
                        $('#btn_repost').hide()
                    }

                    CKEDITOR.instances['editor_update'].setData(products[i].content)

                    $('#modal_post_job_edt_filter_country_update').val(products[i].city + ', ' + products[i].state + ' ' + products[i].code)

                    codePostJob = products[i].code

                    $('#ContainerImages').empty()
                    let prefixImage
                    if (isSort == 1) {
                        prefixImage = urlImagePostJobsIcon
                        $('#lbl_nam_salon_update').html('Name salon')
                        $('#modal_post_job_edt_name_salon_update').attr("placeholder", "Name salon")
                    } else if (isSort == 2) {
                        prefixImage = urlImagePostSellsSalonsIcon
                        $('#lbl_nam_salon_update').html('Name salon')
                        $('#modal_post_job_edt_name_salon_update').attr("placeholder", "Name salon")
                    } else if (isSort == 3) {
                        prefixImage = urlImagePostNailSuppliesIcon
                        $('#lbl_nam_salon_update').html('Company name')
                        $('#modal_post_job_edt_name_salon_update').attr("placeholder", "Company name")
                    }

                    if (products[i].images != null && products[i].images != undefined && products[i].images.length > 0) {
                        for (let j = 0; j < products[i].images.length; j++) {
                            $("#ContainerImages").append('<li style="position: relative;width: 100px;display: block;height: 100% !important;float: left;margin-bottom: 0 !important;" class="mr-2"><img style="width: 100px !important; height: 100px; object-fit: cover;" class="mb-2 border border-primary rounded" src="' + prefixImage + products[i].images[j] + '"><button onclick="deleteImage(\'' + j + '\', \'' + i + '\')" style="height: auto !important;padding: 5px 10px 5px 10px;position: absolute;top: 5px;right: 5px;border-radius: 50%;" class="btn-danger" type="button"><i class="fas fa-times"></i></button></li>');
                        }
                    }

                    $('#edt_id_post_update').val(products[i]._id)

                    if (!products[i].status) {
                        $('#container_repost').show()
                    } else {
                        $('#container_repost').hide()
                    }
                    toggleModalAddProduct()
                }

            </script>

            <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>


            <script>

                function fillCountryPostJobUpdate(val) {
                    $('#modal_post_job_edt_filter_country_update').val(val)
                    $('#edt_city_update').val(val.split(',')[0])
                    $('#edt_state_update').val(val.split(',')[1].trim().split(' ')[0])
                    codePostJob = val.split(',')[1].trim().split(' ')[1]
                    $('#container_filter_country_update').hide(200)

                }
                function onFilterCountryPostJobUpdate() {
                    if ($('#modal_post_job_edt_filter_country_update').val().length) {
                        $('#container_filter_country_update').show(200)

                        socket.emit('search-country', { val: $('#modal_post_job_edt_filter_country_update').val() }, (response) => {
                            $('#container_filter_country_update').empty()
                            if (response && $('#modal_post_job_edt_filter_country_update').val().length) {
                                for (let i = 0; i < response.length; i++) {
                                    $('#container_filter_country_update').append('<div onclick="fillCountryPostJobUpdate(\'' + escapeHtml(response[i][3]) + ', ' + escapeHtml(response[i][4]) + ' ' + escapeHtml(response[i][0]) + '\')" ><span class="font-medium">' + escapeHtml(response[i][3]) + ', ' + escapeHtml(response[i][4]) + '</span> <span class="ml-2" style="font-size: 0.8rem;">' + escapeHtml(response[i][0]) + '</span></div>')
                                }
                            }
                        })
                    } else {
                        $('#container_filter_country_update').hide(200)
                    }
                }

                function onChangeImageUpdate() {
                    $('.imageuploadify-container').remove()
                    checkFileBigUpdate()
                }

                function checkFileBigUpdate() {
                    let files = $('#inputSelectMoreImage_update').prop('files')

                    for (let x in files) {
                        let filesize = ((files[x].size / 1024) / 1024).toFixed(4);
                        if (filesize > 10) {
                            alert('Photo size too big, please reduce photo below 10mb')
                            $('.imageuploadify-container').remove()
                            return false
                        }
                    }

                    return true
                }

                function savePost() {

                    if ($("#inputSelectMoreImage_update")[0].files.length + products[index_edit].images.length > 10) {
                        $('.imageuploadify-container').remove()
                        $('#inputSelectMoreImage_update').focus()
                        alert("Posts are limited to ten photos")
                        return
                    }

                    if ($("#inputSelectMoreImage_update")[0].files.length + products[index_edit].images.length == 0) {
                        $('.imageuploadify-container').remove()
                        $('#inputSelectMoreImage_update').focus()
                        alert("Please select at least one photo")
                        return
                    }

                    if (!checkFileBigUpdate()) {
                        $('#inputSelectMoreImage_update').focus()
                        return
                    }

                    if (!$('#modal_post_job_edt_title_update').val().length) {
                        $('#modal_post_job_edt_title_update').focus()
                        $('#modal_post_job_edt_title_update').before('<p class="removed" style="color:red">Title is require</p>')
                        return
                    }
                    if (!CKEDITOR.instances.editor_update.getData().length) {
                        $('#editor_update').focus()
                        $('#editor_update').before('<p class="removed" style="color:red">Content is require</p>')
                        return
                    }
                    if ($('#modal_post_job_edt_phone_update').val().length < 9) {
                        $('#modal_post_job_edt_phone_update').focus()
                        $('#modal_post_job_edt_phone_update').before('<p class="removed" style="color:red">Phone is require</p>')
                        return
                    }
                    if (!validateEmail($('#modal_post_job_edt_email_update').val())) {
                        $('#modal_post_job_edt_email_update').focus()
                        $('#modal_post_job_edt_email_update').before('<p class="removed" style="color:red">Please enter correct email</p>')
                        return
                    }

                    if (!$('#modal_post_job_edt_filter_country_update').val().length || !codePostJob) {
                        $('#modal_post_job_edt_filter_country_update').focus()
                        $('#modal_post_job_edt_filter_country_update').before('<p class="removed" style="color:red">City is require</p>')
                        return
                    }

                    let actionUpdatePost
                    if (isSort == 1) {
                        actionUpdatePost = '../job/update-post'
                    } else if (isSort == 2) {
                        actionUpdatePost = '../sell-salon/update-post'
                    } else if (isSort == 3) {
                        actionUpdatePost = '../nail-supplies/update-post'
                    }

                    // try {
                    //     posPostJob = JSON.parse(JSON.stringify(pos.toJSON(), null, 2))
                    // } catch (e) {

                    // }


                    $('#edt_code_update').val(codePostJob)
                    $('#edt_content_update').val(CKEDITOR.instances.editor_update.getData())
                    //$('#edt_location_update').val(posPostJob)
                    $('#form_update_job').attr('action', actionUpdatePost + '/?_id=' + getCookie('_id') + '&password=' + getCookie('password'))

                    showLoading()
                    $('#form_update_job').on('submit', (function (e) {
                        e.preventDefault();
                        var formData = new FormData(this)

                        $.ajax({
                            type: 'POST',
                            url: $(this).attr('action'),
                            headers: {
                                token: 'infinifyltd'
                            },
                            data: formData,
                            cache: false,
                            contentType: false,
                            processData: false,
                            success: function (data) {
                                window.location.reload()
                            },
                            error: function (data) {
                                alert('error')
                                toggleModalAddProduct()
                                hideLoading()
                            }
                        })
                    }))

                    socket.emit('on-update-images-post', { _id: getCookie('_id'), password: getCookie('password'), id_post: products[index_edit]._id, type: isSort, images: products[index_edit].images }, (response) => {
                        $('#form_update_job').submit()
                    })
                }

                function toggleModalRePost(index) {
                    if (isDefine(index)) {
                        index_edit = index
                    }
                    $('#repost-modal').css('display', 'block');
                    $('#repost-modal').css('margin-top', '0px');
                    $('#repost-modal').css('margin-left', '0px');
                    $('#repost-modal').css('z-index', '1000');
                    if ($("#repost-modal").hasClass("show")) {
                        $('#repost-modal').removeClass('show');
                        $('body').removeClass('overflow-y-hidden');
                    } else {
                        $('#repost-modal').addClass('show');
                        $('body').addClass('overflow-y-hidden');
                    }

                    $("#select_package_repost_job").empty()
                    $("#select_price_repost_job").empty()
                    $("#content_post_rejob").empty()

                    if ((isSort - 1) == 0) {
                        socket.emit('options-posts-jobs-agency', { _id: getCookie('_id'), password: getCookie('password') }, (response) => {
                            if (isDefine(response) && response.length > 0) {
                                $('#content_options_repost').html(escapeHtml(response[0].content))
                                optionsPostJob = response
                                packagePostJob = response[0].name
                                for (let i = 0; i < response.length; i++) {
                                    var o = new Option(response[i].name, i)
                                    $(o).html(escapeHtml(response[i].name))
                                    $("#select_package_repost_job").append(o)

                                    if (i == 0) {
                                        for (let j = 0; j < response[i].options.length; j++) {
                                            let p = new Option('$' + response[i].options[j].cost + ' / ' + response[i].options[j].month + ' month', j)
                                            $(p).html('$' + response[i].options[j].cost + ' / ' + response[i].options[j].month + ' month')
                                            $("#select_price_repost_job").append(p)
                                        }
                                        $("#content_repost_job").html(response[i].options[0].content)
                                        monthsProviderPostJob = response[i].options[0].month
                                        costPostJob = response[i].options[0].cost
                                    }
                                }
                            }
                        })
                    } else if ((isSort - 1) == 1) {
                        socket.emit('options-posts-sell-salon-agency', { _id: getCookie('_id'), password: getCookie('password') }, (response) => {
                            if (isDefine(response) && response.length > 0) {
                                optionsPostJob = response
                                packagePostJob = response[0].name
                                $('#content_options_repost').html(response[0].content)
                                for (let i = 0; i < response.length; i++) {
                                    var o = new Option(response[i].name, i)
                                    $(o).html(response[i].name)
                                    $("#select_package_repost_job").append(o)

                                    if (i == 0) {
                                        for (let j = 0; j < response[i].options.length; j++) {
                                            let p = new Option('$' + response[i].options[j].cost + ' / ' + response[i].options[j].month + ' month', j)
                                            $(p).html('$' + response[i].options[j].cost + ' / ' + response[i].options[j].month + ' month')
                                            $("#select_price_repost_job").append(p)
                                        }
                                        $("#content_repost_job").html(response[i].options[0].content)
                                        monthsProviderPostJob = response[i].options[0].month
                                        costPostJob = response[i].options[0].cost
                                    }
                                }
                            }
                        })
                    } else if ((isSort - 1) == 2) {
                        $('#lbl_title_repost').html('Post a Nail Supply')
                        $('#modal_repost_job_edt_salary').attr("placeholder", "Price (option)")
                        socket.emit('options-posts-nail-supply-agency', { _id: getCookie('_id'), password: getCookie('password') }, (response) => {
                            if (isDefine(response) && response.length > 0) {
                                optionsPostJob = response
                                packagePostJob = response[0].name
                                $('#content_options_repost').html(response[0].content)
                                for (let i = 0; i < response.length; i++) {
                                    var o = new Option(response[i].name, i)
                                    $(o).html(response[i].name)
                                    $("#select_package_repost_job").append(o)

                                    if (i == 0) {
                                        for (let j = 0; j < response[i].options.length; j++) {
                                            let p = new Option('$' + response[i].options[j].cost + ' / ' + response[i].options[j].month + ' month', j)
                                            $(p).html('$' + response[i].options[j].cost + ' / ' + response[i].options[j].month + ' month')
                                            $("#select_price_repost_job").append(p)
                                        }
                                        $("#content_repost_job").html(response[i].options[0].content)
                                        monthsProviderPostJob = response[i].options[0].month
                                        costPostJob = response[i].options[0].cost
                                    }
                                }
                            }
                        })
                    }
                }

                function deleteImage(index, iEdit) {
                    index = tryParseInt(index)
                    iEdit = tryParseInt(iEdit)

                    if (products[iEdit] != undefined && products[iEdit].images != undefined && products[iEdit].images != null && products[iEdit].images.length > 0) {
                        products[iEdit].images = removeIndexOfArray(products[iEdit].images, index);
                    }

                    $('#ContainerImages').empty()
                    let prefixImage
                    if (isSort == 1) {
                        prefixImage = urlImagePostJobsIcon
                        $('#lbl_nam_salon_update').html('Name salon')
                        $('#modal_post_job_edt_name_salon_update').attr("placeholder", "Name salon")
                    } else if (isSort == 2) {
                        prefixImage = urlImagePostSellsSalonsIcon
                        $('#lbl_nam_salon_update').html('Name salon')
                        $('#modal_post_job_edt_name_salon_update').attr("placeholder", "Name salon")
                    } else if (isSort == 3) {
                        prefixImage = urlImagePostNailSuppliesIcon
                        $('#lbl_nam_salon_update').html('Company name')
                        $('#modal_post_job_edt_name_salon_update').attr("placeholder", "Company name")
                    }
                    if (products[iEdit].images != null && products[iEdit].images != undefined && products[iEdit].images.length > 0) {
                        for (let j = 0; j < products[iEdit].images.length; j++) {
                            $("#ContainerImages").append('<li style="position: relative;width: 100px;display: block;height: 100% !important;float: left;margin-bottom: 0 !important;" class="mr-2"><img style="width: 100px !important; height: 100px; object-fit: cover;" class="mb-2 border border-primary rounded" src="' + prefixImage + products[iEdit].images[j] + '"><button onclick="deleteImage(\'' + j + '\', \'' + iEdit + '\')" style="height: auto !important;padding: 5px 10px 5px 10px;position: absolute;top: 5px;right: 5px;border-radius: 50%;" class="btn-danger" type="button"><i class="fas fa-times"></i></button></li>');
                        }
                    }
                }

                $('.tab-link').click(function () {

                    var tabID = $(this).attr('data-tab');

                    $(this).addClass('active').siblings().removeClass('active');

                    $('#tab-' + tabID).addClass('active').siblings().removeClass('active');
                })

                document.getElementById('modal_post_job_edt_phone_update').addEventListener('input', function (e) {
                    var x = e.target.value.replace(/\D/g, '').match(/(\d{0,3})(\d{0,3})(\d{0,4})/);
                    e.target.value = !x[2] ? x[1] : '(' + x[1] + ') ' + x[2] + (x[3] ? '-' + x[3] : '');
                })
                initSampleUpdate()
            </script>

            <link href="../public/vendor/select2/css/select2.css" rel="stylesheet">
            <script src="../public/vendor/select2/js/select2.js">


            </script>

            <script>
                $('select').select2({ width: '100%', placeholder: "Empty", allowClear: true });
                $('.select2-selection').css('border', 'none');
            </script>
</body>

</html>