<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../views/client/dist/images/icon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Infinity ltd">
    <title>247 Nail Salons - Tim Tho Nail | Ban Tiem Nail | Mua Ban Nail Supply</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../views/client/dist/css/app.css" />
    <link rel="stylesheet" href="../views/client/dist/css/home.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- END: CSS Assets-->

    <script src="../views/client/dist/js/jquery.min.js"></script>
    <script src="./../../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../views/client/dist/js/helper.js"></script>

    <script src="../views/client/dist/js/sha512.min.js"></script>


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- <script src="https://checkout.stripe.com/checkout.js" defer></script> -->
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
        #map {
            height: 100%;
        }

        .zoom-img-wrap {
            z-index: 1000;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
        }

        .custom-map-control-button {
            background-color: #fff;
            border: 0;
            border-radius: 2px;
            box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
            margin: 10px;
            padding: 0 0.5em;
            font: 400 18px Roboto, Arial, sans-serif;
            overflow: hidden;
            height: 40px !important;
            cursor: pointer;
        }

        .custom-map-control-button:hover {
            background: #ebebeb;
        }

        .gm-control-active {
            height: 40px !important;
        }

        #container_sort>a {
            display: inline-block !important;
            color: white !important;
            font-size: 12px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-top: 2px !important;
            padding-bottom: 2px !important;
            /* background: #e15915 !important; */
            margin-top: 10px;
            cursor: pointer;
        }

        .active-drop {
            position: relative;
            background-color: #e15915;
        }

        .active-drop::after {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: 0;
            height: 0;
            border-top: solid 5px #e15915;
            border-left: solid 5px transparent;
            border-right: solid 5px transparent;
        }

        .pagination {
            display: -ms-flexbox;
            display: flex;
            padding-left: 0;
            list-style: none;
            border-radius: 0.25rem;
        }

        .page-item:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .page-item.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }

        .pagination-lg .page-item:first-child .page-link {
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
        }

        .pagination-lg .page-item:last-child .page-link {
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
        }

        .pagination-sm .page-link {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
        }

        .pagination-sm .page-item:first-child .page-link {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        .pagination-sm .page-item:last-child .page-link {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }

        .page-link {
            position: relative;
            display: block;
            padding: 0.5rem 0.75rem;
            margin-left: -1px;
            line-height: 1.25;
            color: #007bff;
            background-color: #fff;
            border: 1px solid #dee2e6;
        }

        .page-link:hover {
            z-index: 2;
            color: #0056b3;
            text-decoration: none;
            background-color: #e9ecef;
            border-color: #dee2e6;
        }

        .page-link:focus {
            z-index: 3;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }

        .page-item:first-child .page-link {
            margin-left: 0;
            border-top-left-radius: 0.25rem;
            border-bottom-left-radius: 0.25rem;
        }

        .page-item:last-child .page-link {
            border-top-right-radius: 0.25rem;
            border-bottom-right-radius: 0.25rem;
        }

        .page-item.active .page-link {
            z-index: 3;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }

        .page-item.disabled .page-link {
            color: #6c757d;
            pointer-events: none;
            cursor: auto;
            background-color: #fff;
            border-color: #dee2e6;
        }

        .pagination-lg .page-link {
            padding: 0.75rem 1.5rem;
            font-size: 1.25rem;
            line-height: 1.5;
        }

        .pagination-lg .page-item:first-child .page-link {
            border-top-left-radius: 0.3rem;
            border-bottom-left-radius: 0.3rem;
        }

        .pagination-lg .page-item:last-child .page-link {
            border-top-right-radius: 0.3rem;
            border-bottom-right-radius: 0.3rem;
        }

        .pagination-sm .page-link {
            padding: 0.25rem 0.5rem;
            font-size: 0.875rem;
            line-height: 1.5;
        }

        .pagination-sm .page-item:first-child .page-link {
            border-top-left-radius: 0.2rem;
            border-bottom-left-radius: 0.2rem;
        }

        .pagination-sm .page-item:last-child .page-link {
            border-top-right-radius: 0.2rem;
            border-bottom-right-radius: 0.2rem;
        }
    </style>

    <style>
        .contenter {
            padding-left: 5rem;
            padding-right: 5rem;
        }

        @media (max-width:1200px) {
            .contenter {
                padding-left: 1rem;
                padding-right: 1rem;
                margin-top: 3rem;
            }
        }

        @media (max-width:1600px) {
            #container_search {
                position: relative;
                padding-top: 6rem;
                padding-bottom: 4rem;
                margin-bottom: 3rem;
            }

            .header {
                height: auto !important;
            }
        }

        #container_filter_country>div:hover {
            background-color: #eb1b6c;
            cursor: pointer;
            color: white;
        }

        #container_filter_country>div {
            padding: 0.5rem;
        }

        .dropdown-menu.show {
            z-index: 100;
        }
    </style>
</head>

<body class="main">

    <div id="add-item-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        POST STATUS INFORMATION
                    </h5>

                    <button style="position: absolute;right: 10px;top: 10px; height: auto !important;"
                        onclick="toggleModalAddProduct()" type="button" class="close btn btn-danger"
                        data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">

                    <div class="grid grid-cols-12 gap-6">
                        <div class="form-group col-span-12 lg:col-span-4">
                            <p>Name salon:</p>
                            <input id="EdtNameProduct" class="form-control" disabled>
                        </div>
                        <div class="form-group col-span-12 lg:col-span-4">
                            <p>Telephone:</p>
                            <input id="EdtPhoneProduct" class="form-control" disabled>
                        </div>
                        <div class="form-group col-span-12 lg:col-span-4">
                            <p>Email:</p>
                            <input id="EdtEmailProduct" class="form-control" disabled>
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-6">
                        <div class="form-group col-span-2">
                            <p>Address:</p>
                            <input id="EdtAddressProduct" class="form-control" disabled>
                        </div>
                        <div class="form-group col-span-1">
                            <p>Zip Code:</p>
                            <input id="EdtCodeProduct" class="form-control" disabled>
                        </div>
                    </div>


                    <div class="mt-2">
                        <b>Title:</b>
                        <input id="EdtTitleProduct" class="form-control" disabled>
                    </div>

                    <div class="mt-2">
                        <b>Content:</b>
                        <textarea id="EdtContentProduct" style="height: 100px;" class="form-control"
                            disabled></textarea>
                    </div>

                    <div class="mt-2">
                        <b>Images:</b>
                        <div class="mx-6 pb-8 mt-2">
                            <div class="responsive-mode" id="container_images_products">

                                <div class="h-45 px-2">
                                    <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md">
                                        <h3 class="h-full font-medium flex items-center justify-center text-2xl">Image
                                        </h3>
                                    </div>
                                </div>

                                <div class="h-45 px-2">
                                    <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md">
                                        <h3 class="h-full font-medium flex items-center justify-center text-2xl">Image
                                        </h3>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="form-group float-right mt-2">
                        <b>COST</b>
                        <b id="lbl_cost_product" class="form-control number text-danger"></b>
                    </div>

                    <div class="form-group mt-2">
                        <b>Status:</b>
                        <button id="btn_active" type="button" onclick="changeStatusProduct()"
                            class="btn btn-sm btn-success ml-2"></button>
                        <span class="ml-2">click to change status</span>
                    </div>

                    <div class="form-group mt-2">
                        <b>Delete:</b>
                        <button type="button" onclick="deleteProduct()"
                            class="btn btn-sm btn-danger ml-2">Delete</button>
                        <span class="ml-2">click to delete this post</span>
                    </div>

                </div>
                <div class="mt-5 modal-footer border-top-0 d-flex justify-content-between">
                    <button onclick="toggleModalAddProduct()" type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-loading" class="text-center"
        style="height: 100%; width: 100%; position: fixed; z-index: 1000;display: none;">
        <div style="position: fixed; left: 0;right: 0;top: 0;bottom: 0;opacity: 0.5;background-color: rgb(61, 73, 73);">
        </div>
        <div style="color: white; position: absolute;width: 100%;top: 0;bottom: 0;right: 0;left: 0;margin: auto;height: 100px;"
            class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

            <svg width="20" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" class="w-8 h-8">
                <defs>
                    <linearGradient x1="8.042%" y1="0%" x2="65.682%" y2="23.865%" id="a">
                        <stop stop-color="rgb(45, 55, 72)" stop-opacity="0" offset="0%"></stop>
                        <stop stop-color="rgb(45, 55, 72)" stop-opacity=".631" offset="63.146%"></stop>
                        <stop stop-color="rgb(45, 55, 72)" offset="100%"></stop>
                    </linearGradient>
                </defs>
                <g fill="#eb1b6c" fill-rule="evenodd">
                    <g transform="translate(1 1)">
                        <path d="M36 18c0-9.94-8.06-18-18-18" id="Oval-2" stroke="url(#a)" stroke-width="3">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                dur="0.9s" repeatCount="indefinite"></animateTransform>
                        </path>
                        <circle fill="rgb(45, 55, 72)" cx="36" cy="18" r="1">
                            <animateTransform attributeName="transform" type="rotate" from="0 18 18" to="360 18 18"
                                dur="0.9s" repeatCount="indefinite"></animateTransform>
                        </circle>
                    </g>
                </g>
            </svg>

            <div class="text-center text-xs mt-2">Loading</div>
        </div>
    </div>

    <div class="header">
        <div>
            <div>
                <div style="position: relative; height: 12rem;">
                    <div class="logo pt-5">
                        <a href="/">
                            <img src="../views/client/dist/images/logo.png" />
                        </a>

                    </div>

                    <div class="mt-10 menu-right">
                        <button id="btn_toggle_dialog" class="btn btn-rounded-success mr-5 text-white p-3"
                            style="background-color: #6bab44;">
                            <i class="far fa-user mr-2"></i>Post New Ad
                        </button>

                        <a style="position: absolute; cursor: pointer;" onclick="openNav()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"
                                fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round" class="feather feather-align-left block mx-auto">
                                <line x1="17" y1="10" x2="3" y2="10"></line>
                                <line x1="21" y1="6" x2="3" y2="6"></line>
                                <line x1="21" y1="14" x2="3" y2="14"></line>
                                <line x1="17" y1="18" x2="3" y2="18"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="contenter">
        <div class="box grid grid-cols-12" style="background-color: #f8fafb;">
            <div class="col-span-12 xl:col-span-3 p-5" style="border-right: 2px dotted antiquewhite;">

                <ul class="mt-4" style="list-style-type: none;">
                    <li class="mt-5">
                        <a href="account">
                            <i class="far fa-user fa-lg	mr-2"></i><span>My Account</span>
                        </a>
                    </li>
                    <li class="mt-5">
                        <a href="change-password">
                            <i class="far fa-key mr-2"></i><span>Change password</span>
                        </a>
                    </li>
                    <li class="mt-5" style="color: #eb1b6c;">
                        <a href="posts">
                            <i class="far fa-newspaper mr-2"></i><span>My posts</span>
                        </a>
                    </li>
                    <li class="mt-5" style="color: red; cursor: pointer;">
                        <a onclick="logout()">
                            <i class="fas fa-power-off fa-lg mr-2"></i><span>Log out</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-span-12 xl:col-span-9 p-5">
                <p class="font-medium" style="font-size:1.5rem;">Posts</p>

                <div id="container_sort" class="scroll-hozizontal pb-1">
                    <!-- <a
                        class="nav-item nav-link alert-success no_select active-drop" onclick="onSort_1()" id="sort_1"
                        data-custom-value="/agency/posts?sort=1">Options posts find jobs: 3</a> <a
                        class="nav-item nav-link alert-success no_select " onclick="onSort_2()" id="sort_2"
                        data-custom-value="/agency/posts?sort=2">Options posts sell salons: 3</a> <a
                        class="nav-item nav-link alert-success no_select " onclick="onSort_3()" id="sort_3"
                        data-custom-value="/agency/posts?sort=3">Options posts nail supply: 3</a> -->
                </div>

                <div class="intro-y box p-5 mt-5">
                    <div class="flex flex-col sm:flex-row sm:items-end xl:items-start">
                        <div id="tabulator-html-filter-form" class="xl:flex sm:mr-auto">
                            <div class="sm:flex items-center sm:mr-4 mt-2 xl:mt-0">
                                <input id="edt_search" type="text" class="form-control sm:w-40 xxl:w-full mt-2 sm:mt-0"
                                    placeholder="Search...">
                            </div>
                            <div class="mt-2 xl:mt-0">
                                <button id="tabulator-html-filter-go" type="button"
                                    class="btn btn-primary w-full sm:w-16" onclick="searchProduct()">Go</button>
                            </div>
                        </div>

                        <div class="flex mt-5 sm:mt-0">
                            <div class="w-full sm:w-auto flex items-center sm:ml-auto float-right">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"
                                    fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                                    stroke-linejoin="round" class="feather feather-filter block mx-auto mr-2">
                                    <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon>
                                </svg>
                                <label for="show-example-1">Filter</label>
                                <input data-target="#basic-table" class="show-code form-check-switch mr-0 ml-3"
                                    type="checkbox" id="show-example-1" onchange="onShowFilter()">
                            </div>
                        </div>
                    </div>

                    <div id="basic-table" class="mt-5 clear-both">

                        <div class="source-code grid grid-cols-12 gap-6" style="display: none; opacity: 1;">
                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Cost</b>
                                <div class="form-control">
                                    <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_cost">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="1">Increase</option>
                                        <option value="-1">Decrease</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Package</b>
                                <div class="form-control">
                                    <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_package">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="Free">Free</option>
                                        <option value="Sliver">Sliver</option>
                                        <option value="Gold">Gold</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Status</b>
                                <div class="form-control">
                                    <select class="w-20 form-select box mt-3 sm:mt-0" id="select_filter_status">
                                        <option disabled selected value> -- select an option -- </option>
                                        <option value="0">Not Active</option>
                                        <option value="1">Active</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-span-12 xl:col-span-3 intro-y">
                                <b>Date range</b>
                                <div>
                                    <input id="dtp_query" data-daterange="true"
                                        class="datepicker form-control block p-3">
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="intro-y box p-5 mt-12 sm:mt-5 clear-both" style="overflow-x: scroll;">
                        <table id="TblProduct" class="w-full table" cellspacing="0">
                            <thead class="tabulator-header font-medium">
                                <tr>
                                    <th>Name <br> <small>phone</small></td>
                                    <th>Location</td>
                                    <th>Title</td>
                                    <th>Content</td>
                                    <th>Cost (Week)</td>
                                    <th>Package</td>
                                    <th>Status</td>
                                    <th>Action</td>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>

                    <div id="SpnLoading" class="text-center">
                        <div class="col-span-6 sm:col-span-3 xl:col-span-2 flex flex-col justify-end items-center">

                            <svg width="25" viewBox="-2 -2 42 42" xmlns="http://www.w3.org/2000/svg"
                                stroke="rgb(45, 55, 72)" class="w-8 h-8">
                                <g fill="none" fill-rule="evenodd">
                                    <g transform="translate(1 1)" stroke-width="4">
                                        <circle stroke-opacity=".5" cx="18" cy="18" r="18"></circle>
                                        <path d="M36 18c0-9.94-8.06-18-18-18">
                                            <animateTransform attributeName="transform" type="rotate" from="0 18 18"
                                                to="360 18 18" dur="1s" repeatCount="indefinite"></animateTransform>
                                        </path>
                                    </g>
                                </g>
                            </svg>

                            <div class="text-center text-xs mt-2">Loading...</div>
                        </div>
                    </div>
                </div>


                <div id="pagePatigation" class="float-right">
                    <nav aria-label="Page navigation example">
                    </nav>
                </div>

            </div>
        </div>
    </div>

    <%- include("nav-menu"); %>

    <script src="../views/client/dist/js/app.js"></script>
    <script src="../views/client/dist/js/home.js"></script>

    <script>
        function showDialog() {
            $('#dialog-loading').show(200)
        }

        function hideDialog() {
            $('#dialog-loading').hide(200)
        }

        function logout() {
            deleteAllCookies()
            window.location.replace('../')
        }

        function checkLogin() {
            if (getCookie('_id') && getCookie('password')) {
                socket.emit('recent-login-agency', { _id: getCookie('_id'), password: getCookie('password') }, (response) => {
                    if (!response) {
                        logout()
                    }
                })
            } else {
                logout()
            }
        }

        checkLogin()

        function deleteAllCookies() {
            document.cookie.split(";").forEach(function (c) { document.cookie = c.replace(/^ +/, "").replace(/=.*/, "=;expires=" + new Date().toUTCString() + ";path=/"); });
        }

    </script>

    <link href="../views/client/dist/css/imageuploadify.min.css" rel="stylesheet">
    <script src="../views/client/dist/js/imageuploadify.min.js"></script>
    <script src="../views/client/dist/js/imageuploadify.js"></script>

    <script>
        $('input[name="avatar"]').imageuploadify();
        $("input").attr("autocomplete", "off");

    </script>

    <script>

        var limit = 10
        var offset = 0
        var isShow = 3
        var count = 0
        var products = []
        var index_edit
        var prefixLinkSlug
        var prefixUrlImage

        const urlParams = new URLSearchParams(window.location.search);
        indexRow = tryParseInt(urlParams.get('row'));
        indexPage = tryParseInt(urlParams.get('page'));
        var isSort = urlParams.get('sort') || 1;

        function onShowFilter() {
            if ($("#basic-table > div").hasClass("d-grid")) {
                $('#basic-table > div').removeClass('d-grid')
            } else {
                $('#basic-table > div').addClass('d-grid')
            }
        }

        function canvasTableProduct(data) {
            $('#TblProduct tbody').empty();
            $("#TblProduct tbody > tr").remove();
            let myTable = document.getElementById('TblProduct').getElementsByTagName('tbody')[0];
            let num = document.getElementById("TblProduct").rows.length;


            if (isSort == 1) {
                prefixLinkSlug = 'posts-jobs'
                prefixUrlImage = urlImagePostJobs
            } else if (isSort == 2) {
                prefixLinkSlug = 'posts-sell-salons'
                prefixUrlImage = urlImagePostSellsSalons
            } else if (isSort == 3) {
                prefixLinkSlug = 'posts-nail-supplies'
                prefixUrlImage = urlImagePostNailSupplies
            }
            for (let i = 0; i < data.length; i++) {
                let row = myTable.insertRow();
                if (i % 2 != 0) {
                    row.style.backgroundColor = '#e2e8f0';

                }
                let cell1 = row.insertCell(0);
                let cell2 = row.insertCell(1);
                let cell3 = row.insertCell(2);
                let cell4 = row.insertCell(3);
                let cell5 = row.insertCell(4);
                let cell6 = row.insertCell(5);
                let cell7 = row.insertCell(6);
                let cell8 = row.insertCell(7);

                if (data[i].status == 1) {
                    cell7.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="status" title="" style="text-align: center; display: inline-flex; align-items: center; justify-content: center;"><div class="flex items-center lg:justify-center text-theme-9"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg> Active </div><div class="tabulator-col-resize-handle"></div><div class="tabulator-col-resize-handle prev"></div></div>';
                } else {
                    cell7.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="status" title="" style="text-align: center; display: inline-flex; align-items: center; justify-content: center;"> <div class="flex items-center lg:justify-center text-theme-6"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-2"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> Inactive </div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div>';
                }

                cell1.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="name" title="" style=" display: inline-flex; "> <div> <div class="font-medium whitespace-nowrap">' + products[i].name_salon + '</div> <div class="text-gray-600 text-xs whitespace-nowrap">' + products[i].phone + '</div> </div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div>';
                cell2.innerHTML = '<div class="ellipsis">' + escapeHtml(products[i].country) + '</div>';
                cell3.innerHTML = '<div class="ellipsis">' + escapeHtml(products[i].title) + '</div>';
                cell4.innerHTML = '<div class="ellipsis">' + (products[i].content) + '</div>';
                cell5.innerHTML = '<div class="ellipsis">' + escapeHtml(isNumber(products[i].cost) ? ('$' + escapeHtml(products[i].cost != 0 ? formatMoney(products[i].cost) : 'contact')) : ('$' + (products[i].price != 0 ? formatMoney(products[i].price) : 'contact'))) + '</div>';
                cell6.innerHTML = '<div class="ellipsis">' + escapeHtml(products[i].package) + '</div>';
                cell8.innerHTML = '<div class="tabulator-cell" role="gridcell" tabulator-field="actions" title="" style="text-align: right; display: inline-flex; align-items: center; justify-content: center;"> <div class="flex lg:justify-center items-center"> <a onclick="editProduct(' + i + ')" class="edit flex items-center mr-3" href="javascript:;"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> Edit </a> <a target="_blank" class="edit flex items-center mr-3" href="../' + prefixLinkSlug + '/' + escapeHtml(products[i].link_slug) + '"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square w-4 h-4 mr-1"> <polyline points="9 11 12 14 22 4"></polyline> <path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path> </svg> View </a> </div> <div class="tabulator-col-resize-handle"></div> <div class="tabulator-col-resize-handle prev"></div> </div> ';

            }
        }

        function searchProduct() {
            $('#TblProduct tbody').empty();
            $("#SpnLoading").show();

            let minDate = $('#dtp_query').val().split('-')[0].replaceAll(',', '').trim().split(' ')
            let maxDate = $('#dtp_query').val().split('-')[1].replaceAll(',', '').trim().split(' ')

            minDate = minDate[2] + '-' + nameMonthToNumber(minDate[1]) + '-' + (minDate[0] < 10 ? '0' + minDate[0] : minDate[0]) + ' 00:00:00'
            maxDate = maxDate[2] + '-' + nameMonthToNumber(maxDate[1]) + '-' + (maxDate[0] < 10 ? '0' + maxDate[0] : maxDate[0]) + ' 23:59:59'

            socket.emit('post-agency', { _id: getCookie('_id'), password: getCookie('password'), limit: limit, offset: offset, input: $('#edt_search').val(), minDate: minDate, maxDate: maxDate, cost: $('#select_filter_cost').val(), package: $('#select_filter_package').val(), status: $('#select_filter_status').val(), type: isSort - 1 }, (response) => {
                $("#SpnLoading").hide();
                products = response;
                if (products != null) {
                    canvasTableProduct(products);
                } else {
                    $("#title").show();
                }
            });
            countProduct();
        }

        function countProduct() {

            let minDate = $('#dtp_query').val().split('-')[0].replaceAll(',', '').trim().split(' ')
            let maxDate = $('#dtp_query').val().split('-')[1].replaceAll(',', '').trim().split(' ')

            minDate = minDate[2] + '-' + nameMonthToNumber(minDate[1]) + '-' + (minDate[0] < 10 ? '0' + minDate[0] : minDate[0]) + ' 00:00:00'
            maxDate = maxDate[2] + '-' + nameMonthToNumber(maxDate[1]) + '-' + (maxDate[0] < 10 ? '0' + maxDate[0] : maxDate[0]) + ' 23:59:59'

            socket.emit('count-post-agency', { _id: getCookie('_id'), password: getCookie('password'), limit: limit, offset: offset, input: $('#edt_search').val(), minDate: minDate, maxDate: maxDate }, (response) => {
                if (response != null) {
                    // count = response;
                    // if ((count / limit) - parseInt(count / limit) > 0) {
                    //     count = parseInt(count / limit) + 1;
                    // }
                    // else {
                    //     count = count / limit;
                    // }
                    // paginator();
                    $('#container_sort').html('<a  class="nav-item nav-link alert-success no_select ' + ((isSort != undefined && isSort == 1) ? 'active-drop' : '') + '" onclick="onSort_1()" id="sort_1" data-custom-value="/agency/posts?sort=1' + '">Options posts find jobs: ' + response[0] + '</a> <a  class="nav-item nav-link alert-success no_select ' + ((isSort != undefined && isSort == 2) ? 'active-drop' : '') + '" onclick="onSort_2()" id="sort_2" data-custom-value="/agency/posts?sort=2' + '">Options posts sell salons: ' + response[1] + '</a> <a  class="nav-item nav-link alert-success no_select ' + ((isSort != undefined && isSort == 3) ? 'active-drop' : '') + '" onclick="onSort_3()" id="sort_3" data-custom-value="/agency/posts?sort=3' + '">Options posts nail supply: ' + response[2] + '</a> ');

                    count = response[isSort - 1];
                    if ((count / limit) - parseInt(count / limit) > 0) {
                        count = parseInt(count / limit) + 1;
                    }
                    else {
                        count = count / limit;
                    }
                    paginator();
                }
            });
        }

        function canvasHeadTable(val) {
            $('#TblProduct thead').empty()
            $("#TblProduct thead > tr").remove()

            let myTable = document.getElementById('TblProduct').getElementsByTagName('thead')[0];
            let row = myTable.insertRow();
            let cell1 = row.insertCell(0);
            let cell2 = row.insertCell(1);
            let cell3 = row.insertCell(2);
            let cell4 = row.insertCell(3);
            let cell5 = row.insertCell(4);
            let cell6 = row.insertCell(5);
            let cell7 = row.insertCell(6);
            let cell8 = row.insertCell(7);

            cell1.innerHTML = 'Name <br> <small>phone</small>';
            cell2.innerHTML = 'Location';
            cell3.innerHTML = 'Title';
            cell4.innerHTML = 'Content';
            cell5.innerHTML = val;
            cell6.innerHTML = 'Package';
            cell7.innerHTML = 'Status';
            cell8.innerHTML = 'Action';
        }

        function onSort_1() {
            canvasHeadTable('Cost /Week')
            isSort = 1;
            history.pushState({}, null, $('#sort_1').attr('data-custom-value'));
            countProduct();
            loadmoreProduct(0);
        }

        function onSort_2() {
            canvasHeadTable('Price')

            isSort = 2;
            history.pushState({}, null, $('#sort_2').attr('data-custom-value'));
            countProduct();
            loadmoreProduct(0);
        }

        function onSort_3() {
            canvasHeadTable('Price')
            isSort = 3;
            history.pushState({}, null, $('#sort_3').attr('data-custom-value'));
            countProduct();
            loadmoreProduct(0);
        }


        function loadmoreProduct(page) {
            if (offset > limit * page) {
                offset = parseInt(offset) - parseInt(limit);
                stt = offset + 1;
                isShow = isShow - 1;
            } else if (offset < limit * page) {
                isShow = isShow + 1;
                offset = parseInt(offset) + parseInt(limit);
                stt = offset + 1;
            } else {
                isShow = (limit * page);
                offset = parseInt(limit) * (limit * page);
                stt = parseInt(offset) + 1;
            }

            offset = limit * page;
            searchProduct();
            paginator();
        }

        function changeStatusProduct() {
            toggleModalAddProduct();
            if (products[index_edit].status == 1) {
                products[index_edit].status = 0;
            } else {
                products[index_edit].status = 1;
            }
            showLoading();
            socket.emit('update-posts-agency', { _id: getCookie('_id'), password: getCookie('password'), id_product: products[index_edit]._id, status: products[index_edit].status, type: isSort - 1 }, (response) => {
                hideLoading();
                if (response != null) {
                    canvasTableProduct(products);
                } else {
                    toggleModalAddProduct();
                }
            })
        }

        function deleteProduct() {
            toggleModalAddProduct();

            showLoading();
            socket.emit('delete-posts-agency', { _id: getCookie('_id'), password: getCookie('password'), id_product: products[index_edit]._id, type: isSort - 1 }, (response) => {
                hideLoading();
                if (response != null) {
                    products = removeIndexOfArray(products, index_edit);
                    canvasTableProduct(products);
                } else {
                    toggleModalAddProduct();
                }
            })
        }

        $(document).ready(function () {
            const dateObj = new Date();
            const month = monthNames[dateObj.getMonth()];
            const day = String(dateObj.getDate()).padStart(2, '0');
            const year = dateObj.getFullYear();
            const output = month + '\n' + day + ',' + year;
            let strDate = 1 + ' ' + month.substring(0, 3) + ', ' + year + ' - ' + day + ' ' + month.substring(0, 3) + ', ' + year
            $('#dtp_query').val(strDate)

            var input = document.getElementById("edt_search");
            input.addEventListener("keyup", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("tabulator-html-filter-go").click();
                }
            });

            $('#draw_2').addClass('side-menu--active');
            $('#draw_2').addClass('side-menu--open');
            $('#draw_2_1').addClass('side-menu--active');
            $('#draw_2_wrap').addClass('side-menu__sub-open')

            countProduct();
            loadmoreProduct(0);
        });

        function toggleModalAddProduct() {
            $('#add-item-modal').css('display', 'block');
            $('#add-item-modal').css('margin-top', '0px');
            $('#add-item-modal').css('margin-left', '0px');
            $('#add-item-modal').css('z-index', '1000');
            if ($("#add-item-modal").hasClass("show")) {
                $('#add-item-modal').removeClass('show');
            } else {
                $('#add-item-modal').addClass('show');
                $('#add-item-modal').addClass('overflow-y-auto');
            }
        }

        function editProduct(i) {
            index_edit = i;
            $('#EdtNameProduct').val(products[i].name_salon);
            $('#EdtPhoneProduct').val(products[i].phone);
            $('#EdtEmailProduct').val(products[i].email);
            $('#EdtAddressProduct').val(products[i].address_salon);
            $('#EdtCodeProduct').val(products[i].code);
            $('#EdtTitleProduct').val(products[i].title);
            $('#EdtContentProduct').val(products[i].content);
            $('#lbl_cost_product').html(formatMoney(products[i].cost || products[i].price) + ' $ / Week');

            $('#container_images_products').empty();
            if (!empty(products[i].images)) {
                $('#container_images_products').append('<<div class="h-45 px-2 tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1"> <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md"> <h3 class="h-full font-medium flex items-center justify-center text-2xl">1</h3> </div> </div>');
                $('#container_images_products').append('<<div class="h-45 px-2 tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1"> <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md"> <h3 class="h-full font-medium flex items-center justify-center text-2xl">1</h3> </div> </div>');

                for (let j = 0; j < products[i].images.length; j++) {
                    $('#container_images_products').append(' <div class="h-45 px-2 tns-item" id="tns4-item3" aria-hidden="true" tabindex="-1"> <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md"> <img src="' + prefixUrlImage + products[i].images[j] + '" data-action="zoom" class="w-full rounded-md"> </div> </div>');
                }

                $('#container_images_products').append('<<div class="h-45 px-2 tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1"> <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md"> <h3 class="h-full font-medium flex items-center justify-center text-2xl">1</h3> </div> </div>');
                $('#container_images_products').append('<<div class="h-45 px-2 tns-item tns-slide-cloned tns-transparent" aria-hidden="true" tabindex="-1"> <div class="h-full bg-gray-200 dark:bg-dark-1 rounded-md"> <h3 class="h-full font-medium flex items-center justify-center text-2xl">1</h3> </div> </div>');
            }

            toggleModalAddProduct();

            if (products[i].status == 1) {
                $('#btn_active').html('Active');
                $('#btn_active').addClass('btn-success');
                $('#btn_active').removeClass('btn-danger');
            } else {
                $('#btn_active').html('Not Active');
                $('#btn_active').addClass('btn-danger');
                $('#btn_active').removeClass('btn-success');
            }
        }

    </script>

    <link href="../public/vendor/select2/css/select2.css" rel="stylesheet">
    <script src="../public/vendor/select2/js/select2.js">


    </script>

    <script>
        $('select').select2({ width: '100%', placeholder: "Empty", allowClear: true });
        $('.select2-selection').css('border', 'none');
    </script>
</body>

</html>