<div class="mobile-header mobile-header-position-above sticky-header-on mobile-header-type-1" style="height: 63px;position: fixed;background: white;width: 100%;display: flex;align-items: center;z-index: 100;">
    <div class="sticky-wrapper">
        <div class="mobile-header-row">
            <!-- Logo Block -->
            <div class="logo-container ml-5">
                <div class="logo retina-logo">
                    <a class="logo-link" href="../blog"><img width="109" height="11" src="../views/client/dist/images/logo.png" alt="Cosmecos"></a>
                </div>
            </div>

        </div>
    </div>

    <div class="w-full intro-x">
        <a href="../search?categories=nail-supply" class="p-5 float-right font-medium ">
            Nail Supply
        </a>
        <a href="../search?categories=sell-salon" class="p-5 float-right font-medium ">
            Salon for Sale
        </a>
        <a href="../search?categories=find-job" class="p-5 float-right font-medium ">
            Find a Job
        </a>
        <a href="../" class="p-5 float-right font-medium ">
            Home
        </a>
        
    </div>
    
</div>