<div class="mobile-header mobile-header-position-above sticky-header-on mobile-header-type-1" style="height: 63px;position: fixed;
background: white;
width: 100%;
display: flex;
align-items: center;z-index: 100;">
    <div class="sticky-wrapper">
        <div class="mobile-header-row">

            <!-- Logo Block -->
            <div class="logo-container ml-5">
                <div class="logo retina-logo">
                    <a class="logo-link" href="../blog"><img width="109" height="11" src="https://g2h4v2c9.stackpathcdn.com/themes/cosmecos-new/wp-content/uploads/2021/03/logo_black.png" alt="Cosmecos"></a>
                </div>
            </div>

        </div>
    </div>
</div>