<div onclick="closeNav()" id="container_nav"
    style="z-index: 1000; margin-left: 250px; width: 100%; position: fixed; top: 0; right: 0; bottom: 0; display: none;">
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="side-bar__mn">
            <div class="side__list-mn">
                <ul id="menu-list" class="menu-side" style="list-style-type: none;padding-left: 0rem;">
                    <li class="menu-item">
                        <a class="select menu-link" href="/">Contact us</a>
                    </li>
                    <li class="menu-item">
                        <a class="select menu-link" href="/">Privacy policy</a>
                    </li>
                    <li class="menu-item">
                        <a class="select menu-link" href="/">Terms of use</a>
                    </li>
                    <li class="menu-item" style="cursor: pointer;">
                        <a class="select menu-link" onclick="onMyAcount()">My Account</a>
                    </li>
                    <li class="menu-item" style="cursor: pointer;">
                        <a class="select menu-link" onclick="onPostAd()">Post New AD</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    function onMyAcount() {
        if (isDefine(getCookie('_id')) && getCookie('_id') != 'null') {
            window.location.href = '../agency/account'
        } else {
            toggleModalSignInSignUp()
        }
    }
    function onPostAd() {
        if (isDefine(getCookie('_id')) && getCookie('_id') != 'null') {
            window.location.href = '../agency/account?post=show'
        } else {
            toggleModalSignInSignUp()
        }
    }
</script>