<%- include("header"); %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>


    <!-- Import PhotoSwipe Styles -->
    <link rel="stylesheet" href="../views/client/dist/css/photo-swipe-4.1.0/photoswipe.css">
    <link rel="stylesheet" href="../views/client/dist/css/photo-swipe-4.1.0/default-skin/default-skin.css">

    <script src="../views/client/dist/css/photo-swipe-4.1.0/photoswipe.min.js"></script>
    <script src="../views/client/dist/css/photo-swipe-4.1.0/photoswipe-ui-default.min.js"></script>



    </div>
    <style>
        li {
            padding: 0.3rem;
            cursor: pointer;
        }

        li:hover {
            color: #eb1b6c;
        }

        ul {
            list-style-type: none;
            padding-left: 1rem;
        }

        .slick-track {
            float: left;

        }

        #slick_2>.slick-list {
            padding-bottom: 2rem;
        }

        .slick-slide {
            margin-left: 0.2rem;
            margin-right: 0.2rem;
            cursor: pointer;
            min-width: 10rem;
        }

        .panel-default {
            border-radius: 0.5rem;
            box-shadow: 0px 1px 6px #bdbdbd
        }

        .panel-body {

            padding: 0.5rem;
        }

        .slick-prev {
            margin-right: 1rem;
        }

        .slick-next {
            margin-left: 1rem;
        }

        .slick-prev:focus {
            outline: none;
        }

        .slick-next:focus {
            outline: none;
        }

        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        h1 {
            padding: 0;
        }

        .ellipsis {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            /* number of lines to show */
            -webkit-box-orient: vertical;
        }

        .accordion-button:not(.collapsed) {
            --tw-text-opacity: 1;
            color: #363636 !important;
        }

        .accordion-button {
            --tw-text-opacity: 1;
            color: #363636 !important;
        }

        .form-check-input[type=checkbox]:checked {
            background-color: black !important;
        }

        @media (max-width:1279px) {
            .container-hidden-mobile {
                display: none;
            }
        }
    </style>



    <div class="contenter mt-5" style="background-color: white;">
        <div class="container">

            <!-- Root element of PhotoSwipe. Must have class pswp. -->
            <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

                <!-- Background of PhotoSwipe. 
                     It's a separate element, as animating opacity is faster than rgba(). -->
                <div class="pswp__bg"></div>

                <!-- Slides wrapper with overflow:hidden. -->
                <div class="pswp__scroll-wrap">

                    <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
                    <div class="pswp__container">
                        <!-- don't modify these 3 pswp__item elements, data is added later on -->
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                        <div class="pswp__item"></div>
                    </div>

                    <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
                    <div class="pswp__ui pswp__ui--hidden">

                        <div class="pswp__top-bar">

                            <!--  Controls are self-explanatory. Order can be changed. -->

                            <div class="pswp__counter"></div>

                            <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                            <button class="pswp__button pswp__button--share" title="Share"></button>

                            <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                            <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                            <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                            <!-- element will get class pswp__preloader--active when preloader is running -->
                            <div class="pswp__preloader">
                                <div class="pswp__preloader__icn">
                                    <div class="pswp__preloader__cut">
                                        <div class="pswp__preloader__donut"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                            <div class="pswp__share-tooltip"></div>
                        </div>

                        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                        </button>

                        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                        </button>

                        <div class="pswp__caption">
                            <div class="pswp__caption__center"></div>
                        </div>

                    </div>

                </div>

            </div>



            <div class="grid grid-cols-12 gap-6 mt-10" id="container_content">
                <div class="col-span-12 xl:col-span-9">
                    <div id="slick_images" style="display: block;">
                    </div>

                    <h3 id="lbl_name_salon" class="mt-3 -intro-x" style="font-size: 1.2rem;">
                        <div class="col-span-12 text-center intro-y"><svg
                                style="cursor: pointer;width:2.5rem;height: 2.5rem;position: static;"
                                xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 135 135"
                                fill="none" stroke="#ef4c8c" stroke-width="1.5" stroke-linecap="round"
                                stroke-linejoin="round"
                                class="feather feather-search absolute my-auto inset-y-0 mr-3 right-0">
                                <!-- <polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon> -->
                                <path
                                    d="M67.447 58c5.523 0 10-4.477 10-10s-4.477-10-10-10-10 4.477-10 10 4.477 10 10 10zm9.448 9.447c0 5.523 4.477 10 10 10 5.522 0 10-4.477 10-10s-4.478-10-10-10c-5.523 0-10 4.477-10 10zm-9.448 9.448c-5.523 0-10 4.477-10 10 0 5.522 4.477 10 10 10s10-4.478 10-10c0-5.523-4.477-10-10-10zM58 67.447c0-5.523-4.477-10-10-10s-10 4.477-10 10 4.477 10 10 10 10-4.477 10-10z">
                                    <animateTransform attributeName="transform" type="rotate" from="0 67 67"
                                        to="-360 67 67" dur="2.5s" repeatCount="indefinite"> </animateTransform>
                                </path>
                                <path
                                    d="M28.19 40.31c6.627 0 12-5.374 12-12 0-6.628-5.373-12-12-12-6.628 0-12 5.372-12 12 0 6.626 5.372 12 12 12zm30.72-19.825c4.686 4.687 12.284 4.687 16.97 0 4.686-4.686 4.686-12.284 0-16.97-4.686-4.687-12.284-4.687-16.97 0-4.687 4.686-4.687 12.284 0 16.97zm35.74 7.705c0 6.627 5.37 12 12 12 6.626 0 12-5.373 12-12 0-6.628-5.374-12-12-12-6.63 0-12 5.372-12 12zm19.822 30.72c-4.686 4.686-4.686 12.284 0 16.97 4.687 4.686 12.285 4.686 16.97 0 4.687-4.686 4.687-12.284 0-16.97-4.685-4.687-12.283-4.687-16.97 0zm-7.704 35.74c-6.627 0-12 5.37-12 12 0 6.626 5.373 12 12 12s12-5.374 12-12c0-6.63-5.373-12-12-12zm-30.72 19.822c-4.686-4.686-12.284-4.686-16.97 0-4.686 4.687-4.686 12.285 0 16.97 4.686 4.687 12.284 4.687 16.97 0 4.687-4.685 4.687-12.283 0-16.97zm-35.74-7.704c0-6.627-5.372-12-12-12-6.626 0-12 5.373-12 12s5.374 12 12 12c6.628 0 12-5.373 12-12zm-19.823-30.72c4.687-4.686 4.687-12.284 0-16.97-4.686-4.686-12.284-4.686-16.97 0-4.687 4.686-4.687 12.284 0 16.97 4.686 4.687 12.284 4.687 16.97 0z">
                                    <animateTransform attributeName="transform" type="rotate" from="0 67 67"
                                        to="360 67 67" dur="8s" repeatCount="indefinite"></animateTransform>
                                </path>
                            </svg>Loading...<div></div>
                    </h3>

                    <div class="mt-2 -intro-x">
                        <i class="fas fa-map-marker-alt fa-lg mr-2"></i> <span id="lbl_address"></span>
                    </div>


                    <div class="text-dark divider -intro-x" style="font-size: 0.8rem;margin-top: 1rem;">

                    </div>
                    <div class="grid grid-cols-12 mt-5 -intro-x">
                        <div class="col-span-12 xl:col-span-3">
                            <div>
                                Price:
                            </div>
                            <div class="mt-2">
                                <span id="lbl_salary" class="font-medium" style="font-size: 2rem; color: #6bab44;">

                                </span>
                            </div>
                        </div>

                        <div id="container_nearby_city" class="col-span-12 xl:col-span-3">
                            <div>
                                Nearby City
                            </div>
                            <div id="slick_country" style="max-height: 1rem;" class="mt-2">

                            </div>
                        </div>

                        <div class="col-span-12 xl:col-span-6">
                            <div class="grid grid-cols-12 gap-6">
                                <div class="col-span-6 xl:col-span-9 text-right">
                                    <a id="btn_call" class="btn btn-success mr-1 mb-2 mt-5 pl-10 pr-10"
                                        style="background-color: #6bab44;">
                                        <i class="fas fa-phone-alt mr-2"></i><span id="lbl_phone"></span>
                                    </a>
                                </div>

                                <div class="col-span-6 xl:col-span-3">
                                    <div class="col-span-12 xl:col-span-9">
                                        <button onclick="toggleModalSubmitEmail()"
                                            class="btn btn-success w-24 mr-1 mb-2 mt-5 bg-primary"
                                            style="width: 100% !important;">
                                            <i class="far fa-envelope fa-lg	mr-2"></i> Email </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-dark divider -intro-x" style="font-size: 0.8rem;margin-top: 1rem;">

                    </div>

                    <h2 id="lbl_title" class="font-medium mt-5 -intro-x" style="font-size: 1.5rem;">

                    </h2>

                    <div class="mt-5 -intro-x" id="lbl_content">

                    </div>

                </div>

                <div class="col-span-12 xl:col-span-3">
                    <div class="font-medium mt-5 intro-x" style="font-size: 1.3rem;">
                        Related
                    </div>

                    <div id="container_related">

                    </div>

                </div>

            </div>
            <h2 class="font-medium mt-5" style="font-size: 1.5rem;">
                Featured
            </h2>

            <div id="slick_2" class="mt-5" style="display: block;">

            </div>
        </div>

        <div id="modal_submit_email" class="modal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="grid grid-cols-12">

                        <div class="col-span-12" style="border-radius: 0.5rem; padding: 2rem;">
                            <button style="position: absolute;right: 0.7rem;top: 0.3rem;"
                                onclick="toggleModalSubmitEmail()" type="button" class="close no-border"
                                data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="no-border" style="font-size: 1.3rem;">&times;</span>
                            </button>

                            <div class="text-dark font-medium text-center" style="font-size: 1.1rem;">
                                Please Contact Owner By Email Below
                            </div>


                            <div id="lbl_email" class="text-dark font-medium text-center mt-5"
                                style="font-size: 1.1rem;">

                            </div>

                            <div class="mt-3">
                                <button onclick="copyEmail()" class="btn btn-success w-24 mr-1 mb-2 mt-5 bg-primary"
                                    style="width: 100% !important;">
                                    <i class="far fa-envelope fa-lg	mr-2"></i> COPY Email </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="../views/client/dist/js/slick-post.js"></script>

        <script>
            let slug = document.location.toString().split('/')[document.location.toString().split('/').length - 1]

            var post

            socket.emit('featured', null, (response) => {
                if (response) {
                    $('#slick_2').empty()
                    for (let i = 0; i < response.length; i++) {
                        let urlImage
                        if (response[i].type == 1 && isDefine(response[i].images) && response[i].images.length > 0) {
                            urlImage = urlImagePostJobsIcon + response[i].images[0]
                        } else if (response[i].type == 2 && isDefine(response[i].images) && response[i].images.length > 0) {
                            urlImage = urlImagePostSellsSalonsIcon + response[i].images[0]
                        } else if (response[i].type == 3 && isDefine(response[i].images) && response[i].images.length > 0) {
                            urlImage = urlImagePostNailSuppliesIcon + response[i].images[0]
                        } else {
                            urlImage = '../views/admin/dist/images/no-image.png'
                        }
                        let prefix
                        if (response[i].type == 1) {
                            prefix = '../posts-jobs/'
                        } else if (response[i].type == 2) {
                            prefix = '../posts-sell-salons/'
                        } else if (response[i].type == 3) {
                            prefix = '../posts-nail-supplies/'
                        }
                        $('#slick_2').append('<a href="' + escapeHtml(prefix + response[i].link_slug) + '"><div class="slide intro-y"> <div class="panel panel-default box"> <img style="border-top-right-radius: 0.5rem;border-top-left-radius: 0.5rem;height: 7rem;width: 100%;object-fit: cover;" src="' + escapeHtml(urlImage) + '" class="img-responsive" /> <div class="panel-body" style="position: relative;"> <h3 class="mt-2 font-medium ellipsis-1">' + escapeHtml(response[i].title || 'Unknown') + '</h3> <div class="ellipsis-2" style="font-size: 0.8rem;">' + removeHTMLTags(escapeHtml(response[i].content)) + '</div> <div class="grid grid-cols-12 mt-2"> <div class="col-span-6 font-medium ellipsis" style="display: flex;"> <i class="mr-2 fas fa-phone-alt color-primary"></i> ' + escapeHtml(response[i].phone || 'Unknown') + ' </div> <div class="col-span-6 font-medium ellipsis"> <i class="fas fa-map-marker-alt color-primary"></i> ' + escapeHtml(response[i].city || 'Unknown') + ' </div> </div> <span class="text-white font-medium" style="position: absolute;right: 10px;top: -15px;margin: auto;background: #6bab44;padding: 0.5rem;border-radius: 1rem;font-size: 0.7rem;">' + escapeHtml(response[i].type == 1 ? ((response[i].cost != 0 ? ('$' + formatMoney(response[i].cost)) : 'Contact owner')) : ((response[i].price != 0 ? ('$' + formatMoney(response[i].price)) : 'Contact owner'))) + '</span> </div> </div> </div> </a>')
                    }
                    reloadSlick_2()
                }
            })

            function reloadSlickCountry() {
                $('#slick_country').slick({
                    autoplay: true,
                    autoplaySpeed: 10000,
                    draggable: true,
                    pauseOnHover: false,
                    infinite: true,
                    dots: false,
                    arrows: false,
                    speed: 1000,

                    mobileFirst: true,

                    slidesToShow: 1,
                    slidesToScroll: 1,

                    responsive: [{
                        breakpoint: breakpoint.xs,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: breakpoint.sm,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: breakpoint.md,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: breakpoint.lg,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    ]
                });
            }

            function detailPost(latitude, longitude) {
                socket.emit('detail-posts-sell-salons', { link_slug: slug, latitude: latitude, longitude: longitude }, (response) => {
                    if (isDefine(response)) {
                        for (let i = 0; i < response.nearCountry.length; i++) {
                            $('#slick_country').append('<div onclick="search(' + tryParseInt(response.nearCountry[i][0]) + ')" class="slide"> <div class="panel panel-default" style="background: #737172;opacity: 0.9; cursor: pointer; position: relative;"> <img src="../views/client/dist/images/bg-relate-city.png" class="img-responsive" style="opacity: 0.1;max-height: 2rem;object-fit: cover;width: 100%;" /> <p class="text-white" style="position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;height: 1rem;text-align: center;"> ' + response.nearCountry[i][3] + ', ' + response.nearCountry[i][4] + '</p> </div> </div>')
                        }
                        reloadSlickCountry()

                        $('#keyword').val(response.post.city + ', ' + response.post.state + ' ' + response.post.code)
                        if (isDefine(response.post.images) && response.post.images.length > 0) {
                            for (let i = 0; i < response.post.images.length; i++) {
                                $('#slick_images').append('<div class="slide"> <div class="panel panel-default" style="cursor: pointer; position: relative;"> <img onclick="slideImage(' + i + ')" src="' + escapeHtml(urlImagePostSellsSalonsIcon + response.post.images[i]) + '" class="img-responsive" style="height: 20rem;object-fit: cover;width: 100%;" /> </div> </div>')
                            }
                        }
                        $('#lbl_name_salon').html(escapeHtml(response.post.name_salon))
                        $('#lbl_title').html(escapeHtml(response.post.title))
                        $('#lbl_address').html(escapeHtml(response.post.city + ', ' + response.post.state + ' ' + response.post.code))
                        $('#lbl_salary').html(escapeHtml(response.post.price != 0 ? ('$' + formatMoney(response.post.price)) : 'Contact owner'))

                        $('#lbl_content').html((response.post.content))
                        $('#lbl_phone').html(escapeHtml(response.post.phone))
                        $('#lbl_distance').html(escapeHtml(response.post.distance.replace('km', '').trim()))
                        $('#lbl_email').html(escapeHtml(response.post.email))
                        $('#btn_call').attr('href', 'tel:' + escapeHtml(response.post.phone))
                        $('#container_clear_filter').css('display', 'block')
                        post = response.post
                        if (isDefine(response.post.images) && response.post.images.length > 0) {
                            reloadSlickImages()
                        }

                        if (isDefine(response.related)) {
                            let prefix
                            prefix = '../posts-sell-salons/'
                            urlImage = urlImagePostSellsSalonsIcon
                            for (let i = 0; i < response.related.length; i++) {
                                if (response.related[i].images != null && response.related[i].images.length > 0) {
                                    $('#container_related').append('<a href="' + escapeHtml(prefix + response.related[i].link_slug) + '" class="intro-x mt-5 zoom-in col-span-12 xl:col-span-6 grid grid-cols-3 box" style="border-radius: 1rem;box-shadow: 0px 1px 6px #bdbdbd"> <div class="col-span-1"> <div  style="background-image: url(' + escapeHtml(urlImage + response.related[i].images[0]) + ');height: 100%; border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;" </div></div> </div><div class="col-span-2"> <div class="p-2"> <div class="font-medium ellipsis-1"> ' + escapeHtml(response.related[i].title) + ' </div> <div class="ellipsis-2"> ' + removeHTMLTags(escapeHtml(response.related[i].content)) + ' </div> </div> <div style="display: flex;"> <span class="text-white font-medium" style="background: #6bab44;padding: 0.5rem;border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;font-size: 0.7rem;">' + (escapeHtml(response.related[i].price != 0 ? ('$' + formatMoney(response.related[i].price)) : 'Contact owner')) + ' </span><div class="ml-4" style="display: none;align-items: center;justify-content: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit block mx-auto"> <circle cx="12" cy="12" r="4"></circle> <line x1="1.05" y1="12" x2="7" y2="12"></line> <line x1="17.01" y1="12" x2="22.96" y2="12"></line> </svg> <span class="ml-1">' + escapeHtml(response.related[i].distance.replace('km', '').trim()) + ' mile</span> </div> </div> <div class="p-2 grid grid-cols-12" style="gap: 0.5rem;"> <div class="col-span-6 font-medium ellipsis" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"> <i class="fas fa-phone-alt color-primary"></i> ' + escapeHtml(response.related[i].phone) + ' </div> <div class="col-span-6 font-medium ellipsis"> <i class="fas fa-map-marker-alt color-primary"></i> ' + escapeHtml(response.related[i].city) + ' </div> </div> </div> </a>')
                                } else {
                                    $('#container_related').append('<a href="' + escapeHtml(prefix + response.related[i].link_slug) + '" class="intro-x mt-5 zoom-in col-span-12 xl:col-span-6 grid grid-cols-3 box" style="border-radius: 1rem;box-shadow: 0px 1px 6px #bdbdbd"> <div class="col-span-1"> <div  style="background-image: url(../views/admin/dist/images/no-image.png);height: 100%; border-top-left-radius: 1rem;border-bottom-left-radius: 1rem;" </div></div> </div><div class="col-span-2"> <div class="p-2"> <div class="font-medium ellipsis-1"> ' + escapeHtml(response.related[i].title) + ' </div> <div class="ellipsis-2"> ' + removeHTMLTags(escapeHtml(response.related[i].content)) + ' </div> </div> <div style="display: flex;"> <span class="text-white font-medium" style="background: #6bab44;padding: 0.5rem;border-top-right-radius: 1rem;border-bottom-right-radius: 1rem;font-size: 0.7rem;">' + (escapeHtml(response.related[i].price != 0 ? ('$' + formatMoney(response.related[i].price)) : 'Contact owner')) + ' </span><div class="ml-4" style="display: flex;align-none: center;justify-content: center;"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-git-commit block mx-auto"> <circle cx="12" cy="12" r="4"></circle> <line x1="1.05" y1="12" x2="7" y2="12"></line> <line x1="17.01" y1="12" x2="22.96" y2="12"></line> </svg> <span class="ml-1">' + escapeHtml(response.related[i].distance.replace('km', '').trim()) + ' mile</span> </div> </div> <div class="p-2 grid grid-cols-12" style="gap: 0.5rem;"> <div class="col-span-6 font-medium ellipsis" style="text-overflow: ellipsis;white-space: nowrap;overflow: hidden;"> <i class="fas fa-phone-alt color-primary"></i> ' + escapeHtml(response.related[i].phone) + ' </div> <div class="col-span-6 font-medium ellipsis"> <i class="fas fa-map-marker-alt color-primary"></i> ' + escapeHtml(response.related[i].city) + ' </div> </div> </div> </a>')
                                }
                            }
                        }
                    } else {
                        $('#container_content').html('No Result!')
                    }
                })
            }

            detailPost()

            function copyEmail() {
                toggleModalSubmitEmail()
                copyToClipboard('lbl_email')
                $(".toastify").show(300)
                $(function () {
                    setTimeout(function () {
                        $(".toastify").hide(800)
                    }, 4000)
                })
            }

            function toggleModalSubmitEmail() {
                $('#modal_submit_email').css('display', 'block');
                $('#modal_submit_email').css('margin-top', '0px');
                $('#modal_submit_email').css('margin-left', '0px');
                $('#modal_submit_email').css('z-index', '1000');
                if ($("#modal_submit_email").hasClass("show")) {
                    $('#modal_submit_email').removeClass('show');
                    $('body').removeClass('overflow-y-hidden');
                } else {
                    $('#modal_submit_email').addClass('show');
                }
            }

            function slideImage(index) {
                var container = [];
                let indexProductPhotoSwipe = 0;
                for (let i = 0; post.images != undefined && i < post.images.length; i++) {
                    var item = {
                        src: urlImagePostSellsSalons + post.images[i],
                        w: 0,
                        h: 0,
                    };
                    container.push(item);

                    // if ($('#ImageShow').attr('src').includes(post.images[i])) {
                    //     indexProductPhotoSwipe = i;
                    // }
                    indexProductPhotoSwipe = index;
                }
                if (container.length == 0) return;
                //event.preventDefault();
                var $pswp = $('.pswp')[0],
                    options = {
                        index: indexProductPhotoSwipe,
                        bgOpacity: 0.85,
                        preloaderEl: true,
                    };
                var gallery = new PhotoSwipe($pswp, PhotoSwipeUI_Default, container, options);

                gallery.listen('gettingData', function (index, item) {
                    if (item.w < 1 || item.h < 1) { // unknown size
                        var img = new Image();
                        img.onload = function () { // will get size after load
                            item.w = this.width; // set image width
                            item.h = this.height; // set image height
                            gallery.invalidateCurrItems(); // reinit Items
                            gallery.updateSize(true); // reinit Items
                        }
                        img.src = item.src; // let's download image
                    }
                });

                gallery.init();
            }

            function showImage(link) {
                $('#ImageShow').prop("src", link);
            }
        </script>

        <%- include("footer"); %>