<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../views/client/dist/images/icon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Infinity ltd">
    <title>247 Nail Salons - Contact us</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../views/client/dist/css/app.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <!-- END: CSS Assets-->

    <script src="../views/client/dist/js/jquery.min.js"></script>
    <script src="./../../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="../views/client/dist/js/helper.js"></script>

    <script src="../views/client/dist/js/sha512.min.js"></script>


    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <!-- <script src="https://checkout.stripe.com/checkout.js" defer></script> -->
    <script src="https://checkout.stripe.com/checkout.js"></script>

    <style>
        body,
        html {
            background-color: white;
            line-height: 2 !important;
        }
    </style>
</head>

<body>

    <h1 class="text-dark text-center font-medium" style="font-size: 1.1rem; padding:0;">
        Privacy policy 247NailSalons
    </h1>

    <div class="text-dark divider" style="font-size: 0.8rem;margin-top: 1rem;position: relative;
    margin-top: 1rem;
    height: 0.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e6e6;">

    </div>

    <div id="content" class="mt-2">

    </div>

    <script>
        socket.emit('contact-us', null, (response) => {
            $('#content').html(response.privacy_policy)
        })
    </script>
</body>

</html>