<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link href="../views/client/dist/images/icon.png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Infinity ltd">
    <title>247 Nail Salons - Contact us</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="../views/client/dist/css/app.css" />

    <style>
        body,
        html {
            background-color: white;
            line-height: 2 !important;
        }
    </style>
</head>

<body>

    <div class="text-dark text-center font-medium" style="font-size: 1.1rem; padding:0;">
        Privacy policy 247NailSalons
    </div>

    <div class="text-dark divider" style="font-size: 0.8rem;margin-top: 1rem;position: relative;margin-top: 1rem;height: 0.1rem;text-align: center;display: flex;justify-content: center;align-items: center;background-color: #e6e6e6;">

    </div>

    <div class="mt-2">
        <%- content %>
    </div>
</body>

</html>