<div class="toastify on  toastify-right toastify-top" style="transform: translate(0px, 0px); top: 15px;display: none;">
    <div id="success-notification-content" class="toastify-content flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-check-circle text-theme-9">
            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
            <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
        <div class="ml-4 mr-4">
            <div class="font-medium">Coppied link post</div>
        </div>
    </div>
</div>

<div>Share this Ad</div>

<div class="social">
    <div class="social__item">
        <span onclick="copyLinkPost()" class="fa fa-link" data-count="..." data-social="lk"></span>
    </div>
    <div class="social__item">
        <span onclick="sharePostOnFacebook()" class="fa fa-facebook" data-count="..." data-social="fb"></span>
    </div>
    <div class="social__item">
        <span onclick="sharePostOnTwitter()" class="fa fa-twitter" data-count="..." data-social="tw"></span>
    </div>

</div>

<script>
    function copyLinkPost() {
        navigator.clipboard.writeText(window.location.href).then(function () {
            $(".toastify").show(300)
            $(function () {
                setTimeout(function () {
                    $(".toastify").hide(800)
                }, 4000)
            })
        }, function () {
        });
    }

    function sharePostOnFacebook() {
        window.open('https://www.facebook.com/sharer.php?u=' + window.location.href, '_blank');
    }

    function sharePostOnTwitter() {
        window.open('https://twitter.com/intent/tweet?url=' + window.location.href, '_blank');
    }
</script>