<div class="toastify on  toastify-right toastify-top" style="transform: translate(0px, 0px); top: 15px;display: none;">
    <div id="success-notification-content" class="toastify-content flex">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-check-circle text-theme-9">
            <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
            <polyline points="22 4 12 14.01 9 11.01"></polyline>
        </svg>
        <div class="ml-4 mr-4">
            <div class="font-medium">Coppied link post</div>
        </div>
    </div>
</div>

<script>(function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<div class="mb-3">
    <span class="mr-2" style="font-weight: bold;">Share on Facebook:</span>
    <div class="fb-share-button" data-href="<%- url %>" data-layout="button_count"></div>
    <span onclick="copyLinkPost()" style="cursor: pointer;font-weight: bold;" class="ml-3">Copy link post:<i class="ml-2 fas fa-link fa-lg"></i></span>
</div>

<script>
    function copyLinkPost() {
        navigator.clipboard.writeText(window.location.href).then(function () {
            $(".toastify").show(300)
            $(function () {
                setTimeout(function () {
                    $(".toastify").hide(800)
                }, 4000)
            })
        }, function () {
        });
    }

</script>